[2019-04-03 19:42] fsaintjacques opened #1 "system design documentation link is not public"
The rationale document [references](https://github.com/tensorflow/mlir/blame/master/g3doc/Rationale.md#L28) the system design documentation found at https://docs.google.com/document/d/1yRqja94Da6NtKmPxSYtTx6xbUtughLANyeD7dZ7mOBM/edit# which is not public.

[2019-04-04 07:00] elfring opened #5 "Completion of error handling"
Would you like to [add more error handling](https://github.com/tensorflow/mlir/blob/5ca84e0e2aa07f88164d196f12383757f9441ecc/lib/IR/Operation.cpp#L113 "Update candidate: Operation::create()") for return values from [functions like “malloc”](https://pubs.opengroup.org/onlinepubs/9699919799/functions/malloc.html "Memory allocation")?

[2019-04-04 07:31] lattner commented on #5
We assume that operator new and malloc are always successful, and don't thread error handling through the compiler to handle it.  This is the same policy as LLVM.

[2019-04-04 07:31] #5 closed

[2019-04-04 07:45] joker-eph commented on #1
Thanks for the bug report!

@lattner removed this link (and updated others) in ec7ba0c807b5558a64fb6a0e7cbd1bb213a04aa0.
This document is very outdated and has been superseded by others in here.

[2019-04-04 07:45] #1 closed

[2019-04-04 07:50] madhur13490 opened #6 "Fix LangRef.md, remove erroneous characters"
The "Context" section has some erroneous characters (may be an effect of copying text from LaTex). Better to remove them to have a clean reading experience.

[2019-04-04 08:00] elfring commented on #5
* I find such an assumption [questionable](https://cwe.mitre.org/data/definitions/252.html "Checking more return values").
* How do you think about to improve [static source code analysis](https://en.wikipedia.org/wiki/List_of_tools_for_static_code_analysis#C.2C_C.2B.2B "Tools for code analysis") also for this software?

[2019-04-04 14:02] joker-eph commented on #5
In general we are very much convinced by the link you provide about "Unchecked Return Value".
This is why we are currently moving our APIs that can fail to return our own class "LogicalResult" that we will mark a `no_discard` so that the compiler will warn when the returned value is unused.

However in the case of malloc, most platform (at least the ones running compilers) have an implementation t

[2019-04-04 14:47] elfring commented on #5
I suggest to [adhere to the known standard programming interfaces](https://wiki.sei.cmu.edu/confluence/display/c/ERR33-C.+Detect+and+handle+standard+library+errors "Detect and handle standard library errors.") even if a result like [a null pointer](https://wiki.sei.cmu.edu/confluence/display/c/EXP34-C.+Do+not+dereference+null+pointers#EXP34-C.Donotdereferencenullpointers-RiskAssessment "Do not der

[2019-04-04 15:44] bondhugula opened #9 "Build warnings"
I noticed these two warnings while building out of the box (with gcc (GCC) 8.3.1).

[236/1306] Building CXX object lib/IR/CMakeFiles/LLVMCore.dir/Core.cpp.o
/home/uday/git/llvm-project/llvm/lib/IR/Core.cpp: In function ‘void LLVMContextSetDiagnosticHandler(LLVMContextRef, LLVMDiagnosticHandler, void*)’:
/home/uday/git/llvm-project/llvm/lib/IR/Core.cpp:89:18: warning: cast between incompatible func

[2019-04-04 16:09] bondhugula commented on #9
And some more:

/home/uday/git/llvm-project/llvm/projects/mlir/include/mlir/IR/Location.h: In static member function ‘static mlir::Location mlir::Location::getFromOpaquePointer(const void*)’:
/home/uday/git/llvm-project/llvm/projects/mlir/include/mlir/IR/Location.h:110:41: warning: cast from type ‘const void*’ to type ‘mlir::Location::ImplType*’ {aka ‘mlir::detail::LocationStorage*’} casts away qu

[2019-04-04 16:24] lattner commented on #5
@elfring this is a standard followed by the LLVM community, and we follow it.  If you would like to discuss this, I recommend you bring this to the public llvm-dev mailing list.

[2019-04-04 19:04] elfring commented on #5
How do you think about to avoid that this software [depends on undefined behaviour](https://wiki.sei.cmu.edu/confluence/display/c/EXP34-C.+Do+not+dereference+null+pointers#EXP34-C.Donotdereferencenullpointers-RiskAssessment "Do not dereference null pointers.")?

[2019-04-04 19:41] yehenrytian opened #10 "Build time errors"
[code]

Followed the steps:

[code]

[2019-04-04 20:01] yehenrytian commented on #10
Looks like my gcc version issue, not using gcc 7 :(

[2019-04-04 20:01] #10 closed

[2019-04-04 21:07] ddutta opened #11 "Missing documentation on setup ... need ninja"
Congrats on the release. For fun, I tried to compile on my Mac and it has some issues if I follow the doc ...  I have Xcode and I installed CMake via brew.

Must be a simple config issue. Happy to fix, if there is interest.

DEDUTTA:build dedutta$ cmake -G Ninja ../llvm -DLLVM_BUILD_EXAMPLES=ON
CMake Error: CMake was unable to find a build program corresponding to "Ninja".  CMAKE_MAKE_PROGRAM is n

[2019-04-04 22:25] ddutta commented on #11
cmake -G "Unix Makefiles" ../llvm -DLLVM_BUILD_EXAMPLES=ON -DLLVM_ENABLE_PROJECTS=clang this worked for me .... followed by make, since I didn't have ninja installed

Installing ninja obviously worked for me. Hence the issue. ...

[2019-04-04 23:22] ddutta commented on #11
https://github.com/tensorflow/mlir/pull/13

[2019-04-05 01:41] joker-eph commented on #5
We are running our test-suite with UBSAN (undefined behavior sanitizer), and we are aiming at being free of undefined behavior in general.

As Chris mentioned, I invite you to raise your concern to LLVM, but I suggest that you try there to include an answer to address in detail what I explained before about recovering from memory allocation failure.

Thanks!

[2019-04-05 01:42] joker-eph commented on #9
Hi Uday!

I'm aware of these. We plan to be warning free but I punted to after EuroLLVM to fix these.

Thanks for the report!

[2019-04-05 14:48] joker-eph commented on #11
Language should be better now...

[2019-04-05 14:48] #11 closed

[2019-04-05 19:50] sylvestre opened #16 "Linking error on Debian testing"
Linking error
[code]

Built with:

[code]

[2019-04-06 00:59] joker-eph commented on #16
Thanks for the report! We'll look into this after the EuroLLVM conference next week.

[2019-04-08 20:06] bondhugula opened #17 "Failing test with optimized build"
With an optimized build

$ cmake -G Ninja ../llvm -DLLVM_BUILD_EXAMPLES=ON -DCMAKE_BUILD_TYPE=Release

I see one failing test case.

$ ninja check-mlir
...
[  FAILED  ] 1 test, listed below:
[  FAILED  ] DialectDeathTest.MultipleDialectsWithSameNamespace

 1 FAILED TEST

********************
Testing Time: 0.81s
********************
Failing Tests (1):
    MLIR-Unit :: IR/./MLIRIRTests/DialectDeathT

[2019-04-08 21:27] joker-eph commented on #17
`Result: failed to die.`

Ah that's a good problem to have ;)

Joke aside, thanks for the report! We'll look into this after the conference.

[2019-04-09 09:22] andrewayres opened #18 "Math markdown not being rendered"
I noticed that markdown for math symbols in the g3docs is not being rendered by Github via http access

[2019-04-09 20:26] joker-eph commented on #6
Fixed in 792d9b55670abc2169ae93408f4bdfa2825ce0e1

[2019-04-09 20:26] #6 closed

[2019-04-11 02:16] joker-eph commented on #18
Thanks for the report! We're using some latex markup for the math symbols, it seems like GitHub rendering does not support it. I don't know if there is an alternative that they support though.

[2019-04-15 05:48] westion717 commented on #16
It's because CMakeLists.txt is using hardcode -L path.

[code]

**-Llib** I think can be replaced with **-L${LLVM_BINARY_DIR}/lib**

[2019-04-15 23:50] QiJune opened #19 "How to understand "statically unpredictable data accesses or control flow"?"
I am confused with this sentence.

Locates in [Rationale](https://github.com/tensorflow/mlir/blob/master/g3doc/Rationale.md#introduction-and-motivation) doc.

Does the unpredictable means that the value of some symbols are determined at runtime, so which branch to go is unpredictable?

Could you please give some detail examples? Thanks!

[2019-04-16 03:21] jackwish commented on #18
Raw GitHub markdown rendering doesn't support MathJax (which is a subset package of latex on web), that is a fact. To make it showing math, something like jekyll must be deployed, which means that, showing math in a non-raw GitHub markdown but a new website.

I think MLIR documents are going to reside in tensorflow website, where math rendering should have been enabled :)

[2019-04-18 14:49] albertcohen commented on #19
Hi,
Unpredictable means data-dependent indexing or (loop/conditional) control flow. E.g. subscripting a memref with the return value of a function, or a value from another memref, will break the precise analyses of memref dependences, footprints, etc. Or a loop bound defined inductively from other values rather than a static affine expression (an attribute). The affine dialect typically enforces s

[2019-04-18 19:05] #17 closed

[2019-04-21 11:15] bondhugula opened #24 "Build failure: llvm::orc API mismatch?"
With the latest versions (commit IDs below), I see the appended build failure.

cmake flags
$ cmake -G Ninja ../llvm -DLLVM_BUILD_EXAMPLES=ON -DLLVM_ENABLE_CXX1Y=Y -DLLVM_TARGETS_TO_BUILD="host" -DCMAKE_BUILD_TYPE=Release

LLVM commit ID:
commit 63db7e347befefb87aaa02d33371d9b085ff2c3a (HEAD -> master, origin/master, origin/HEAD)
Author: Craig Topper <craig.topper@intel.com>
Date:   Sun Apr 21 05:

[2019-04-21 19:24] WLeeeee commented on #24
In file ExecutionEngine.cpp
You can fix it by changing
cantFail(llvm::orc::DynamicLibrarySearchGenerator::GetForCurrentProcess(layout)));

to

cantFail(llvm::orc::DynamicLibrarySearchGenerator::GetForCurrentProcess(layout.getGlobalPrefix())));

[2019-04-22 02:17] bondhugula commented on #24
Thanks. It builds with this change.

[2019-04-22 02:40] bondhugula opened #25 "mlir-translate error + missing location pointing"
On the appended MLIR, mlir-translate produces this error.

$ mlir-translate -mlir-to-llvmir /tmp/single.mlir
loc("/tmp/single.mlir":1:6): error: non-LLVM function argument type

I see two issues:
1) On a minor note, the error message is missing reproduction and pinpointing to the source line being referred to.
2) It's not clear what the error is about. It looks like it's pointing to the '@' sigil

[2019-04-22 02:52] bondhugula commented on #25
On the other hand, doing the translation with mlir-opt -convert-to-llvmir doesn't have this issue. But it yields:

$ mlir-opt -convert-to-llvmir  /tmp/single.mlir
/tmp/single.mlir:2:3: error: 'affine.for' op expected body to have a single index argument for the induction variable
  affine.for %i = 0 to 256 {

I think the error message here is misleading (or perhaps a bug). The following however wo

[2019-04-22 15:08] yehenrytian opened #26 "Bugs in examples/Linalg2 TensorOps.h ?"
In the Linalg dialect example: `examples/Linalg/Linalg2/include/linalg2/TensorOps.h` why the 3 op classes are all defined with `mlir::OpTrait::ZeroResult`?

[code]

Why not `mlir::OpTrait::OneResult`? Thanks!

[2019-04-22 16:00] joker-eph commented on #26
If you look for example here: https://github.com/tensorflow/mlir/blob/master/examples/Linalg/Linalg2/Example.cpp#L56 ; you'll see that these operations work by taking 3 views as operands: the two inputs and the result. A C++ equivalent would be:

[code]

Instead of:

[code]

Also the MLIR mailing-list is likely a good place for this kind of questions: https://groups.google.com/a/tensorflow.org/for

[2019-04-22 16:00] #26 closed

[2019-04-23 09:04] QiJune commented on #19
Thanks for the interpretation, It helps a lot!

[2019-04-23 09:04] #19 closed

[2019-04-24 01:49] QiJune opened #27 "The semantics of AffineMap in MemRef"
Here is an example:

[code]

It allocates a two dimension array, A[16][32].
The index of load is set to (0, 0).
Since there is an affinemap, %o is set to 1, the load operation will return A[1][0] actually.

Is my understanding correct? Thanks!

[2019-04-24 05:08] joker-eph commented on #24
Fixed in c06365083b522da9fbda4eb174f166e490a1a557

[2019-04-24 05:08] #24 closed

[2019-04-24 05:28] joker-eph commented on #27
Unless we should track fixing the documentation with this bug, I think the best place to ask question and/or discuss such things is the mailing: https://groups.google.com/a/tensorflow.org/forum/#!forum/mlir

To answer your question, `imapA` is more exactly a semi-affine map and used here as a layout-map according to https://github.com/tensorflow/mlir/blob/master/g3doc/LangRef.md#layout-map
(your u

[2019-04-24 05:28] #27 closed

[2019-04-24 16:47] ftynse commented on #25
mlir-translate is intended to translate MLIR to other IRs.  Some of the translations require MLIR to only have certain dialects, in particular translation to LLVM IR requires MLIR input to only use the LLVM IR dialect.  Hence the complaint about non-LLVM function argument types.  None of them belongs to the LLVM dialect.

mlir-opt performs MLIR-to-MLIR transformations, including dialect conversion

[2019-04-24 23:25] lattner commented on #25
Right.  This is behaving correctly.  mlir-translate is just supposed to do the last step of translation (format conversion) it does not do lowering.

[2019-04-25 01:29] bondhugula commented on #25
I see - thanks. In that case, shouldn't mlir-opt's '-convert-to-llvmir' be renamed - since it's converting to LLVM dialect as opposed to LLVM IR? Perhaps to '-convert-to-llvm'?

[2019-04-25 03:02] joker-eph commented on #25
What about `-lower-to-llvm` or `-llvm-lowering`?

Even if issuing an error is expected here, the error messages should really be improved here, we should keep this bug open to track fixing this.

[2019-04-25 05:04] lattner commented on #25
+1 for renaming to "lower-to-llvm" and improving the error messages!

[2019-04-26 16:47] jpienaar commented on #16
Thanks, this should have been addressed by commit b65972c.

[2019-04-26 16:47] #16 closed

[2019-04-27 09:30] madhur13490 commented on #25
Yes, "lower-to-llvm" makes much more sense to me too.

[2019-05-09 03:02] lijiansong commented on #9
@joker-eph
Any update to fix these warnings?

[2019-05-09 03:37] joker-eph commented on #9
Yes, we fixed some of them already in ea756afacf09e4ffdb069e4815c3372938d361e2 and 5c7899d124eefe39e5ec3e93b1210e6a2a4aed02

[2019-05-09 03:38] joker-eph commented on #25
The renaming was done in 822e3fc877e89dd7dc73d3018accdda6ea30b537

[2019-05-09 11:20] lijiansong commented on #9
@joker-eph Okay, but still too many warnings :-)
[code]
[build.log](https://github.com/tensorflow/mlir/files/3161794/build.log)

[2019-05-10 00:11] joker-eph commented on #9
I don't disagree that there is still work to do there :)

[2019-05-11 04:31] joker-eph commented on #9
We're almost there with f4e694bd, fb52b2a9, 4c61f799, e816bd06, 4cd34b6f, db93e161, 4c1dc94c, 9e6197bd, cc67c846, 3e9efc05, 90149c4d, 551af9d3, b87ca782, 72d9b7ba, 7e486de6, and b6dae936.

Remains (with gcc 7.3):

examples/toy/Ch5/mlir/ShapeInferencePass.cpp:183:27: warning: comparison between signed and unsigned integer expressions [-Wsign-compare]
projects/mlir/include/mlir/FxpMathOps/FxpMathOps

[2019-05-11 06:02] bondhugula commented on #9
Thanks. I can confirm that most warnings are gone and these are the only ones I see with gcc 8.3.1:

In file included from /usr/include/c++/8/cassert:44,
                 from /home/uday/git/llvm-project/llvm/include/llvm/ADT/Twine.h:15,
                 from /home/uday/git/llvm-project/llvm/projects/mlir/include/mlir/IR/Diagnostics.h:30,
                 from /home/uday/git/llvm-project/llvm/proj

[2019-05-11 06:11] bondhugula commented on #25
Thanks. The only thing remaining on this issue is this error message that probably has to be improved.

$ mlir-opt  -lower-to-llvm /tmp/single.mlir
/tmp/single.mlir:2:3: error: 'affine.for' op expected body to have a single index argument for the induction variable
  affine.for %i = 0 to 256 {

This should have ideally been a "can't lower 'affine.for' op".

[2019-05-27 14:35] skotti opened #28 "Import MLIR to an external project"
Hi! How do you generally suggest to add MLIR to a project using cmake? There is not any config cmake file, as it is for LLVM -  LLVMConfig.cmake. And also MLIR libraries are not visible when adding only llvm dependencies in cmakelists.

[2019-05-28 16:09] joker-eph commented on #28
I think we haven't looked into this yet unfortunately (but we should). We don't use CMake internally so we just wrote the CMake files for building this repository alone but we don't have ourselves any external project using CMake.

[2019-05-28 23:51] yurikamome opened #29 "What is the Correct Way to Add Data Member in User Defined Dialect Type?"
Hello,

I am trying to creating my own dialect with a new dialect type, say ToyArrayType, according to your toy example.  My ToyArraytype contains an extra member data,  a "string".

I want the "string" go along with me during the lowering to my Toy MLIR.  However it seems that the ToyArrayType will be cast to mlir::Type during the lowering, and that makes me lost the "string" data because mlir::T

[2019-05-29 00:46] River707 commented on #29
You may want to checkout:
https://github.com/tensorflow/mlir/blob/master/g3doc/DefiningAttributesAndTypes.md

[2019-05-29 03:09] joker-eph commented on #29
Hi,

On Tue, May 28, 2019 at 4:51 PM yurikamome <notifications@github.com> wrote:

The mlir::Type is a thin wrapper over a pointer owned by the context. You
never "lose" anything, you need however to know what to (try to) cast it to.
For instance you can recover you ToyArray type using
type.dyn_cast<ToyArray>().

See an example in the MLIR codebase here:
https://github.com/tensorflow/mlir/blob/mas

[2019-05-29 05:50] yurikamome commented on #29
Hello all,

Thanks for all the answers a lot.  But it seems that I still have the issue with dyn_cast<>.

I have a non-empty data member: vector<string> in ToyArray.  The ToyArray is assigned to a mlir::Type,  and then dyn_cast<> back to a ToyArray, at that time the vector<string> data member becomes empty.

I attached an example code.  Could you please correct me if the example is written in the

[2019-05-29 06:42] River707 commented on #29
It seems like you are putting the field directly on the ToyArrayType class. Types, and many other things in MLIR, are value typed(passed by value). As such, they are essentially just smart pointers to an internal storage class(this is detailed a bit more in the link I posted). To add a field to a Type class you have to add to its storage class:
https://github.com/tensorflow/mlir/blob/master/exampl

[2019-05-29 21:28] yurikamome commented on #29
Thanks!  The way of putting fields into Storage class works!  Thanks to all the answers again.

[2019-05-30 14:58] jackwish commented on #18
You may try [MathJax Plugin for Github](https://chrome.google.com/webstore/detail/mathjax-plugin-for-github/ioemnmodlmafdkllaclgeombjnmnbima) extension if you are using Chrome. @andrewayres

[2019-06-06 23:25] Meinersbur opened #31 "Visual Studio compilation failure"
Current master fails to compile with Visual Studio 2017 and 2019:
[code]

This might be a compiler bug as it compiles with gcc and clang. Smaller reproducer:
[code]

[2019-06-10 04:42] joker-eph commented on #31
Can you double check if you see still the error? Our internal Windows CI is passing right now.

[2019-06-10 04:43] #29 closed

[2019-06-10 16:13] Meinersbur commented on #31
The error as described has disappeared in 7eb515. However, using Visual Studio 2019 it still fails compiling with the following error:
[code]
This might due to the assumption that `<vector>` would implicitly include `<string>`. It does compile using gcc and Visual Studio 2017.

[2019-06-11 17:22] joker-eph commented on #31
I added the include, please re-open if it still fails!

[2019-06-11 19:10] Meinersbur commented on #31
In 6a9862, I get the 'too few template arguments' error again (VS 2017 and 2019):
[code]

Trying to bisect, I get back to 7eb5140a. Not sure how I managed to compile it before.

I am not able to re-open this issue.

[2019-06-11 19:22] joker-eph commented on #31
This is strange, we build with VS 2017 I believe @jpienaar / @River707 : any idea?

[2019-06-11 19:28] Meinersbur commented on #31
I think I updated the compiler in-between. cl.exe of VS2017 is 19.16.27031.1 for x64.

[2019-06-14 21:19] jpienaar commented on #31
We have a change that should fix this on next push.

[2019-06-19 08:26] bondhugula commented on #9
With GCC 9.1.1, this warning is a bit verbose, appears multiple times,  and gets in the way of developing transformation passes.

/home/uday/llvm-project/llvm/include/llvm/ADT/iterator_range.h: In instantiation of ‘llvm::iterator_range<IteratorT>::iterator_range(IteratorT, IteratorT) [with IteratorT = mlir::PredecessorIterator]’:
/home/uday/llvm-project/llvm/projects/mlir/include/mlir/IR/Block.h:4

[2019-06-21 07:21] Johnson9009 opened #32 "Bug cause Transforms/test-legalizer.mlir failed, it isn't caught by CI because of it's a assert."
The latest commits will cause test `Transforms/test-legalizer.mlir` failed when build project as debug  mode.

The failure is caught by an assert of llvm `assert(!NodePtr->isKnownSentinel());`, I guess the CI are all release build, so this failure is not caught.

The root cause of this issue is below new added code of file `test/TestDialect/TestPatterns.cpp` added by commit: 1fc814032a35bd19e5aedc

[2019-06-21 16:26] River707 commented on #32
Thanks, should be fixed in the next sync.

[2019-06-23 19:50] bondhugula opened #34 "-mlir-print-op-generic does not appear in 'mlir-opt -h' help message"
The option -mlir-print-op-generic does not appear in the output of 'mlir-opt -h'. mlir-opt does accept it though.

[2019-06-24 04:21] lattner commented on #34
Does it show up in the --help-hidden output?

[2019-06-24 09:14] Johnson9009 commented on #34
Yes, just as lattner said, this option is an hidden option from the code.
https://github.com/tensorflow/mlir/blob/43aa628b747f253228b3628ecbcc3d0df03fb2af/lib/IR/AsmPrinter.cpp#L79

[2019-06-25 06:45] Johnson9009 commented on #32
This issue is fixed by commit: 262adda9ed4a969017c63a6aec4e7372927b8714. @River707 Thanks.

[2019-06-25 06:45] #32 closed

[2019-06-25 16:22] bondhugula commented on #34
Thanks. Could we unhide it? It's at least more useful for developers than many of the options currently exposed are.

[2019-06-25 17:07] bondhugula opened #35 "Build configuration with CC=clang CXX=clang fails"
This is probably unrelated to the mlir part since clang can't find libstdc++ here.

CC=clang CXX=clang cmake -G Ninja ../llvm -DLLVM_BUILD_EXAMPLES=ON -DLLVM_ENABLE_CXX1Y=Y -DLLVM_TARGETS_TO_BUILD="host"

ends with this error:

-- Performing Test LLVM_LIBSTDCXX_MIN - Failed
CMake Error at cmake/modules/CheckCompilerVersion.cmake:80 (message):
  libstdc++ version must be at least 4.8.
Call Stack (m

[2019-07-02 00:17] bondhugula opened #39 "Build failure: TestPatterns.inc and EnumsGenTest.cpp.inc"
This is from a clean build (and the same cmake conf options as in README.md; gcc (GCC) 9.1.1 20190503 (Red Hat 9.1.1-1)). mlir commit id (latest as of now):
8d4fbbfd969294f6db4b18c484e92250d5bd1d35

The log below is lengthy but here is the key diagnostic:

mlir::tblgen::EnumAttrCase::getValue() const: Assertion `isStrCase() && "cannot get value for EnumAttrCase"' failed.

$ cmake --build . --targe

[2019-07-02 02:49] tkclimb commented on #39
I found the same issue in my environment.
os: ubuntu16
compiler: g++-8
llvm: commit id 180a937d9a66237e061190e9865383236db5d0c0 (latest at 2019/07/02)

[2019-07-02 02:51] antiagainst commented on #39
Sorry, my bad. Fix coming up.

[2019-07-02 17:30] #39 closed

[2019-07-03 22:11] bondhugula commented on #9
The -Wdeprecated-copy related warnings are now gone. The dominant ones that remain with GCC 9.1.1 are ones like:

[2019-07-05 09:59] tkclimb opened #41 "Lots of warnings about move semantics when compile with clang-8"
When I compile mlir with clang-8 I encountered many warnings seem relevant to move semantics like below. Is it ok keeping it?? (though they didn't appear when I compile it with gcc-8).
I'm expecting just add `std::move` to suppress these by following the suggestions.

[code]

My configuration and build command.
[code]

[2019-07-05 13:19] jpienaar commented on #41
Thanks for the report, I'll try to verify/address later today.

[2019-07-05 13:29] jpienaar commented on #35
This seems unrelated yes, do you also have the -dev version of library installed? Unfortunately I'm not using fedora so can't repro this. General LLVM mailing list or resources would be able to provide better information here.

Closing as not specific to MLIR.

[2019-07-05 13:29] #35 closed

[2019-07-05 13:33] jpienaar commented on #31
@meinersbur could you verify if it the problem has been addressed? Thanks

[2019-07-05 15:14] bondhugula commented on #35
Figured out the issue:
.... CXX=clang++ ....  instead of CXX=clang

(clang doesn't link with the C++ std library, although it compiles C++ with the right -std=...

[2019-07-05 15:19] bondhugula commented on #35
There was some discussion on this here: http://clang-developers.42468.n3.nabble.com/Re-llvm-dev-New-warnings-when-building-trunk-with-GCC-9-td4062064.html

GCC is using the move ctor for these, while Clang is using the copy ctor; so Clang emits a warning. Using std::move(..) here inverts things - GCC will emit a warning on a redundant std::move while it'd be warning free with Clang. :-(

[2019-07-05 15:21] bondhugula commented on #41
There was some discussion on this here: http://clang-developers.42468.n3.nabble.com/Re-llvm-dev-New-warnings-when-building-trunk-with-GCC-9-td4062064.html

GCC is using the move ctor for these, while Clang is using the copy ctor; so Clang emits a warning. Using std::move(..) here inverts things - GCC will emit a warning on a redundant std::move while it'd be warning free with Clang. :-(

[2019-07-05 16:15] antiagainst opened #42 "Add spv.CompositeExtract"
The spec for this op is at https://www.khronos.org/registry/spir-v/specs/unified1/SPIRV.html#OpCompositeExtract.

We use Op Definition Spec (ODS) to describe the op, the doc for ODS is here: https://github.com/tensorflow/mlir/blob/master/g3doc/OpDefinitions.md

Useful SPIR-V ODS definitions: https://github.com/tensorflow/mlir/blob/34f7a2d9f8c00f596990ee5385cda2561d8fe202/include/mlir/SPIRV/SPIRVBa

[2019-07-05 16:18] antiagainst commented on #42
@denis0x0D is interested in taking this. @denis0x0D, please let me know if you have any questions. :)

[2019-07-05 21:43] bondhugula commented on #9
When building with clang, the above warnings aren't there, but there a large number of warnings from mlir/Linalg/IR/LinalgOps.h: about 90% of the few hundred warnings are missing override ones from this file (some appended below). My build config is below:
mlir commit id: 43fa067bead328fe468901e4912031414c349b4c
clang version 8.0.0 (Fedora 8.0.0-1.fc30)

/home/uday/llvm-project/llvm/projects/mlir/

[2019-07-07 19:51] denis0x0D commented on #42
@antiagainst, I have some thoughts about implementation and your commments, can you please take a look and please fix me if I'm wrong:

1. Seems like the ebnf form should look like this:
[code]
Regarding to official documentation, the indices are literals and are not in SSA form.
For example:
[code]

Table-gen description for the indices:
[code]

2. The type specified after ":" in ebnf, probably,

[2019-07-08 13:41] antiagainst commented on #42
1. Yes, ebnf and TableGen looks perfect. You are right regarding the literal indices; they should be embedded as attributes instead of referencing SSA values. (I think we can use `I32ArrayAttr` for `$indices`.) Sorry the example is more for `spv.AccessChain` actually.
2. Yes. Normally it would be nice to trim down the verbosity in the custom assembly form when possible (i.e., by removing duplicate

[2019-07-08 14:28] denis0x0D commented on #42
@antiagainst thanks for the answer, it also looks like the StructType should be added to SPV_Type and into CompositeType,

[code]

As far as I understood this code should be valid, please fix me if I'm wrong, for example:
[code]
spv assembly
[code]

and this:
[code]

If it's ok, I will add this alongside with CompositeExtract patch.
Thanks.

[2019-07-08 14:52] antiagainst commented on #42
Yep, you are right that struct type should be added to `SPV_Aggregate`, `SPV_Composite` and `SPV_Type`. It is missed in https://github.com/tensorflow/mlir/commit/145112bbbdd4de9ecc9bd17aac6efdf14272337c. Thanks!

[2019-07-08 15:14] denis0x0D commented on #42
@antiagainst , ok, thanks! Just a quick question about the typed attributes for indexing, to make sure I understand you in right way. The typed attributes would require to specify the type in code right after the index:
`
 %2 = spv.CompositeExtract %1[1 : i32, 1 :i32] : !spv.struct<f32, !spv.array<4xf32>>
`
in other case of ArrayAttr the code could be:
` %2 = spv.CompositeExtract %1[1, 1] : !spv.s

[2019-07-08 15:51] antiagainst commented on #42
The default assembly printer  (`ModulePrinter`)  backing `OpAsmPrinter`outputs each attribute's type for uniformity, with a few special cases. For integer attributes, 64-bit cases have their trailing types elided but not 32-bit cases:
https://github.com/tensorflow/mlir/blob/0682b094816eb2b6afbe6630a20bdc15dfbb4649/lib/IR/AsmPrinter.cpp#L635-L637
I think parsing the second example should be no prob

[2019-07-08 16:02] denis0x0D commented on #42
@antiagainst got it, thanks!

[2019-07-08 20:16] Meinersbur commented on #31
0682b094816eb2b6afbe6630a20bdc15dfbb4649 correctly compiles (and runs check-mlir without fails) with VS2017

[2019-07-08 20:16] #31 closed

[2019-07-09 00:44] dcaballe opened #43 "Ignored failure when legalizing block ops"
Hi!

We recently updated the version of MLIR that we are using for our nGraph dialect and noticed that the rewriter now has checks wrt legality of generated operations in the context of the destination dialect. This is great! It uncovered that we were generating an unsupported operation during the nGraph->affine lowering. However, root-causing the problem was a bit tricky since the `applyConversio

[2019-07-09 15:59] jpienaar commented on #9
Builds without warnings in Release mode with TOT clang/llvm. Closing this issue now. Future build warnings with specific errors would be new issues.

[2019-07-09 15:59] #9 closed

[2019-07-09 16:00] jpienaar commented on #25
Issues referenced here have been addressed, pending one is a request to rename which could best be done by way of a PR & discussion there, so closing this issue.

[2019-07-09 16:47] River707 commented on #43
Hi!
Yes that is currently the expected behavior, as it is intended to make partial conversions easier. That being said, as you have discovered, this is not always the desired behavior. I have plans for two additional flavors of legalization:
* Full conversion (I think this is the one you want)
  - If the legalization of any operations fail, the entire conversion fails.
* Analysis conversion
  - Ch

[2019-07-09 22:00] dcaballe commented on #43
Yes, this is it. Please, let us know if you see any opportunity for us to help. We would be happy to do so :)

Thanks!
Diego

[2019-07-10 22:51] joker-eph commented on #25
Actually the rename has been done, the remaining issue is about the lowering error message being confusing.

[2019-07-12 17:18] antiagainst commented on #42
Done via #44.

[2019-07-12 17:18] #42 closed

[2019-07-16 21:06] River707 commented on #43
This should be fixed by [97b4684](https://github.com/tensorflow/mlir/commit/97b468490d45437d9aa9a7a3f85e0651bb40c260).

[2019-07-17 17:15] schweitzpgi opened #46 "Compilation failure in LowerToLLVMDialect.cpp"
I recently started seeing this compilation failure when building the latest LLVM+MLIR tree.

[code]

I'm using g++ 8.3.0.

I can get past the compilation error by changing
[code]
to
[code]
which may not be the proper fix.

[2019-07-17 19:14] #43 closed

[2019-07-17 21:52] dcaballe commented on #43
Thanks!

[2019-07-19 03:43] bondhugula opened #47 "-lower-to-llvm crash"
$ mlir-opt -affine-dma-generate    -lower-affine -lower-to-llvm  nest_3d.mlir

yields the assertion below. I was expecting an error (emitError) if something wasn't supported.

mlir-opt: /home/uday/llvm-project/llvm/projects/mlir/include/mlir/IR/Types.h:277: U mlir::Type::cast() const [with U = mlir::LLVM::LLVMType]: Assertion `isa<U>()' failed.
Stack dump:
0.	Program arguments: mlir-opt -affine-dm

[2019-07-19 04:51] bondhugula opened #48 "-lower-to-llvm: missing line number info"
$ mlir-opt  -lower-to-llvm  test/Transforms/dma-generate.mlir
<unknown>:0: error: only 1D vectors are supported

I was expecting line number information here to be available.

[2019-07-19 06:16] River707 commented on #48
This is from the type converter, which isn't provided with a source location.

[2019-07-19 06:21] bondhugula commented on #48
Isn't the type (that is being provided from the type converter) from a unique operation? In that case, can the source location be passed to it?

[2019-07-19 06:46] River707 commented on #47
The LLVM conversion pass is currently a partial conversion, so no error is emitted if an operation is failed to convert.

[2019-07-19 06:52] River707 commented on #48
A majority of the types come from block arguments, which don't have an exact location. Though I suppose we could use the location of the parent operation of the region the block is contained in.

[2019-07-19 07:46] bondhugula commented on #47
But isn't an assertion always a bug? The pass is expected to fail if the conversion fails instead of asserting?

[2019-07-19 07:54] bondhugula commented on #48
For block argument types, the source location is ideally expected to be the source location of the block label (and that of the parent operation if it's the entry block), but I think this information isn't maintained in MLIR (I don't see a block->getLoc(), and ran into this recently)? The parent operation's location is a reasonable approximation though.

In any case, the error observed here leaves

[2019-07-19 16:59] lattner commented on #48
I've struggled with this in SIL before, and have tried all the horrible hacks (none of which work well) - is there a disadvantage to adding a location to blockarguments?  When (e.g.) mem2reg builds a block argument, it can easily propagate the location from the load.

[2019-07-22 07:36] bondhugula opened #51 "Parser bug - store op with no memref subscript"
On the appended test case, the parser swallows the whole file - no error, no output.

$ mlir-opt bug.mlir
$

=========================================
[code]

[2019-07-22 22:06] #51 closed

[2019-07-22 22:23] River707 commented on #47
The problem is that the conversion hasn't "failed" in the sense that you expect. A partial conversion allows for unconverted operations to exist the IR (by design). You are expecting a full conversion, in which the conversion fails if any operation is not legalized successfully. I originally intended to mark the llvm conversion as a "full" conversion when I added support for that, but the mlir-cud

[2019-07-23 03:38] joker-eph commented on #47
Yes it is.

In case what River wrote above isn't clear: it should do what you expect, it does not for no good reason and the CUDA runner thing should be fixed instead.

[2019-07-23 04:11] bondhugula commented on #47
I see - thanks. River's comment gave me the impression that the assertion here was the expected behavior and there wasn't a bug here!

[2019-07-23 04:39] River707 commented on #47
Yes sorry, it is currently expected behavior, but not the desired behavior.

[2019-07-25 19:52] yurikamome opened #53 "Problem when lower-to-llvm, when load/store a memref with its layout map"
Hello,

I am trying to lower the following code to llvm:

func @load_store() {
^bb0:
  // CHECK: %0 = alloc() : memref<1024x64xf32, 1>
  %0 = alloc() : memref<1024x64xf32, (d0, d1) -> (d0, d1), 1>

  %1 = constant 0 : index
  %2 = constant 1 : index

  // CHECK: %1 = load %0[%c0, %c1] : memref<1024x64xf32, 1>
  %3 = load %0[%1, %2] : memref<1024x64xf32, (d0, d1) -> (d0, d1), 1>

  // CHECK: store

[2019-07-26 14:44] bondhugula commented on #48
Below is yet another case of missing line number info due to arguments missing such info.

$ mlir-cpu-runner -e test /tmp/test.mlir
Error: non-memref argument not supported

allocMemRefDescriptor should be taking in a location argument:
https://github.com/tensorflow/mlir/blob/77efdea3c70df3b68aeecbbc82ee9e969dca499c/lib/ExecutionEngine/MemRefUtils.cpp#L39

[2019-07-26 17:30] bondhugula commented on #47
Took another look here: the failure occurs here due to the memory space of the memref (which is 2 in the generated IR). The lowering of the dealloc op succeeds (and the crash is gone) if the memory space is changed to the default  (zero). So, there are multiple issues here.

[2019-07-29 08:52] ftynse commented on #53
As mentioned in the [doc](https://github.com/tensorflow/mlir/blob/master/g3doc/ConversionToLLVMDialect.md#memref-descriptor), there is currently no support for non-default memory spaces or non-trivial assignments in the conversion to the LLVM dialect.  (d0,d1) -> (d0,d1) is actually trivial, but the memory space is a problem.

What's your use case for the memory spaces?

You are welcome to contrib

[2019-07-29 17:22] yurikamome commented on #53
Hello,

Thanks for the reply.  My object is actually to find out how does MLIR generate LLVM code for non-trivial layout map and non-default memory space within a Memref.

If I am not misunderstanding the word “memory space”, we need that to be caches in cpu.  We want to copy data from memory to cache in a different layout efficiently.

I am glad to contribute some patches.  I am also cc’ing my ad

[2019-07-30 04:43] joker-eph commented on #53
On Mon, Jul 29, 2019 at 10:22 AM yurikamome <notifications@github.com>
wrote:

Actually it is fairly target specific, but in general I've seen "memory
space" mostly used to refer to physically/logically separated memory, as in
two pointers with the same value but different memory space would not load
from the same memory.
One example in MLIR could be a separation between the host memory and a
disc

[2019-07-30 13:43] ftynse commented on #53
Well, it does not :)   It's actually pretty easy to do.  Just replace any load/store from a memref with non-trivial layout by affine.apply of the layout map to access subscripts, and use the result of affine.apply as new access subscrips treating memref as if it had an identity layout.

I don't think memory spaces were meant for cpu (physical) caches, because you cannot control these caches explic

[2019-07-30 17:32] jpienaar commented on #46
I've build it at head with gcc 6.5, 7.4 and 8.3 without failure using Release builds. Please reopen if it still fails with configuration used. Thanks!

[2019-07-30 17:32] #46 closed

[2019-07-30 17:43] jpienaar commented on #41
I believe these have been addressed: I no longer see these in opt build using GCC 8.3 (in Release build and without specifying build type as above on both Ubuntu 18.04 and GCC docker image). If you can still reproduce, please open again with repro steps. Thanks!

[2019-07-30 17:44] joker-eph commented on #41
The bug report says that these are with clang-8, not with GCC.

[2019-07-30 17:56] jpienaar commented on #41
Misread, no wonder I couldn't reproduce (I was using the cmake configuration command given)

[2019-07-30 18:56] #41 closed

[2019-08-01 13:53] antiagainst opened #60 "Add mlir-vulkan-runner"
It would be nice to have a simple testing harness to exercise the SPIR-V blob generated and serialized from SPIR-V CodeGen on Vulkan-capable devices, similar to mlir-cuda-runner.

Ideally the runner should inspect the SPIR-V module to help building the resource interface for a Vulkan compute pipeline, run the compute pipeline by feeding in test data and then check the result data.

[2019-08-01 20:39] denis0x0D commented on #60
@antiagainst if noone is working on it, I can take it, I've already have a kinda "Vulkan runtime" to test spir-v compute shaders generated by hands written SPIR-V IRBuilder, I learned it from the blog of Neil Henning http://www.duskborn.com/posts/a-simple-vulkan-compute-example/ and code is mostly the same.

[2019-08-01 20:58] antiagainst commented on #60
Please feel free to proceed if you'd like to take on it! Thanks a lot, @denis0x0D!

[2019-08-01 21:01] denis0x0D commented on #60
@antiagainst thanks!

[2019-08-01 21:04] MaheshRavishankar commented on #60
Fantastic! Thanks Denis!

[2019-08-02 18:44] denis0x0D commented on #60
@antiagainst @MaheshRavishankar can you please comment on the following, to make sure I understand the specifications of the task in right way,  and please fix me if I'm wrong.

From the high-level view the mlir-vulkan-runner must consits of 2 main parts:
compile-time passes and runtime machinery.

1. Pipeline of the passes:
a. The pass which outlines gpu.launch body to kernel function. (GpuKernel

[2019-08-02 20:37] MaheshRavishankar commented on #60
Thanks Denis! I can comment with more confidence on the compiler parts. I am fairly sure there are still missing parts in the GPU -> SPIRV conversion. I am going to look into them with some realistic examples. If you find any issues, please do point out on this bug (so that we don't end up duplicating the work).
Overall though the approach you listed makes sense to me. You should probably wait for

[2019-08-02 20:42] antiagainst commented on #60
Hey @denis0x0D,

One thing to keep in mind regarding this runner is that it is for testing purpose; it is not intended to be a full-fledged performant Vulkan runtime that does all the smarts on buffer allocation, kernel scheduling, and proper synchronization. (To properly design such a runtime is non-trivial and should happen separately.)

Which that said, what you said the above sounds great for

[2019-08-02 22:02] denis0x0D commented on #60
@MaheshRavishankar @antiagainst thanks a lot for the answers.
@antiagainst

sounds great to me, thanks! I was thinking how split the huge cuda-pipeline and make similiar for Vulkan on the first iteration.

Thanks got it!

can you please clarify, I actually, meant the following pipeline, please fix my wrong assumptions:
1. spirv.module with kernel and main function
[code]
2. Splits this spv.module

[2019-08-03 05:13] bondhugula opened #65 "Use alloca instead of malloc for 0-d memref's? Getting scalar replacement working."
One way to hoist loop invariant memref load/store's and replace such subscripted accesses by scalars is by introducing 0-d memref's (load/store from the main memref to those 0-d memref's, then access the latter inside the loop), and rely on LLVM's mem2reg to eliminate the lowered counterparts of those 0-d memref's away, substituting (scalar) SSA values instead. However, currently, the lowering of

[2019-08-03 14:15] antiagainst commented on #60
Ah, I misunderstood your idea previously; I thought you'd like to JITing SPIR-V too. Sorry about that! If you'd actually like just to reuse the `mlir::JitRunnerMain` to run the `main` function (for the Vulkan host code), which [references external functions](https://github.com/tensorflow/mlir/blob/10d0c61266696c4af211ee09669c3242ed3beea4/test/mlir-cuda-runner/gpu-to-cubin.mlir#L29-L30) that got re

[2019-08-03 15:05] denis0x0D commented on #60
@antiagainst thanks a lot for the answer!

Absolytely agree with an implementation step by step.

I was kind a stuck to find a starting point for mlir-vulkan-runner this starting point looks great to me!

Thanks a lot for clarification, it would be nice to reuse this infra in future runtime improvement.

Thanks, got it!

Thanks!

[2019-08-03 19:07] joker-eph commented on #65
Why not emitting just a load to a scalar value and use this value instead of creating a 0-d alloc?

[2019-08-04 01:56] bondhugula commented on #65
Because the scalar could be live out of the loop.
[code]

That was just to keep the examples short! :-) Just consider doing scalar replacement on something being reduced - like Y[i] below.
[code]
There's no way to represent the scalar replacement of C[i] or Y[i] on the loop forms in MLIR without going through memory (single element memref's).

[2019-08-04 05:59] bondhugula commented on #53
In addition, you will also need a utility because of the following reason. Changing the layout map of the memref (to identity layout) changes the 'type' of the memref. An SSA value's type, once created, can't be changed - you have to just replace the defining operation with a new one that creates the new SSA value of the new type and replace all uses of the previous one with this. The same is the

[2019-08-04 14:02] denis0x0D opened #66 "[MLIR:ExecutionEngine] The change in the locking scheme for llvm:orc:ThreadSafeModule causes a build error."
Hello, recently the locking scheme for ThreadSafeModule was changed alongside with an API
https://reviews.llvm.org/rG809e9d1efa2f58b6333b1a0445e8574beedffc22
, so, at least it causes a build error with llvm on trunk:

[code]

it seems like the workarond could be to wrap the code under` #ifdef LLVM_VERSION`, but, I might miss some context in it.
@ftynse I found that "makeIRTransformFunction" was im

[2019-08-04 14:53] antiagainst commented on #66
Hey @denis0x0D, thanks for the report! This should be fixed by https://github.com/tensorflow/mlir/commit/3d3d88b2b148714d5357df4fa9c4fc193aacacaf.

[2019-08-04 14:53] #66 closed

[2019-08-04 15:00] denis0x0D commented on #66
@antiagainst thanks!

[2019-08-05 16:10] joker-eph commented on #65
Oh right... I got short-sighted by your into in which you mentioned "hoisting a loop invariant load", but it was just a smaller use-case than the general one.

LLVM does not seem to be bother much by the malloc though, for instance the following code generate the exact same LLVM IR (after -O2): https://godbolt.org/z/2N4xVl

[code]

[2019-08-05 19:18] dcaballe commented on #65
This sounds pretty much the same kind of problem as the one discussed here https://github.com/tensorflow/mlir/pull/55#issuecomment-518134726. I think we should try to follow the same approach for both. I see the value of turning mallocs into llvm allocas for 0D memrefs and even for other small memrefs. However, this optimization should be optional. We may not want to apply it when mlir alloc is go

[2019-08-05 21:12] MaheshRavishankar opened #68 "Add spv.FuncOp to SPIR-V dialect"
Currently SPIR-V dialect is using the FuncOp from StandardOps dialect. FuncOp do not allow implicit capture, whereas the SPIR-V specification requires that functions in SPIR-V dialect have access to global variables defined outside off the function. SPIR-V dialect needs to have its own FuncOp to allow such functionality.

[2019-08-05 21:14] MaheshRavishankar commented on #68
Looking into adding this right now.

[2019-08-05 23:09] River707 commented on #68
Is the SPIRV dialect only intended to live on the edge, like the LLVM dialect, or are there optimizations that are expected to run on this form?

[2019-08-05 23:17] joker-eph commented on #68
Can you rely on the symbol table for accesses to global variable defined outside the function? (just like `std.call` is also referencing global FuncOp outside)

[2019-08-06 05:28] bondhugula commented on #65
That's right - my initial examples didn't capture the general case.

Thanks very much for trying this out. I was just running mem2reg in isolation, but the -O2 pipeline probably includes a pass that replaces heap allocations with stack ones or something to that effect, after which mem2reg works. I can confirm that opt -O2 does get rid of heap allocations of all single element memref's (not just 0-

[2019-08-06 05:30] bondhugula commented on #65
Yes, I agree. We can continue the discussion on #55.

[2019-08-06 06:53] MaheshRavishankar commented on #68
@River707 : Yes SPIR-V is intended to be like LLVM dialect. So I dont see a conversion from SPIR-V to any other dialect. Indeed the SPIR-V dialect has been designed to be able to serialize it into the SPIR-V binary format easily (most of it is auto-generated from ODS).

@joker-eph  : I don't know if that would work. That would have to be named symbols. A function in spir-v module should be able to

[2019-08-06 13:01] antiagainst commented on #68
The SPIR-V dialect is [designed](https://github.com/tensorflow/mlir/blob/master/g3doc/Dialects/SPIR-V.md#design-principles) to be a "proxy" to the SPIR-V binary format. It should stay as the same semantic level and try to be a mechanical 1:1 mapping to SPIR-V binary counterparts if possible. It should be easy to (de)serialize with the binary format.

I can imagine conversions both from and to the

[2019-08-06 13:07] antiagainst commented on #68
An example of adding two resources and write it out to another resource (mimicking SPIR-V natively):

[code]

[2019-08-06 18:05] MaheshRavishankar commented on #68
Thanks Lei for the more detailed explanation. Just wanted to pick your brain about conversion from  SPIR-V dialect to other dialects. In my view the overall conversion flow goes something like this :
1) Start with a dialect that has operations on tensors (which is closer to tensorflow)
2) Lower it to a dialect that operates on memrefs/buffers (conversion from SSA-type tensor values to load/store o

[2019-08-06 18:27] antiagainst commented on #68
Agreed that going from a high-level dialect with tensor semantics and lower it progressively towards SPIR-V is the use case we want to enable right now for accelerating TF models with Vulkan. And in this path, SPIR-V is actually the last step given that it will be consumed directly by a Vulkan driver. But I also want to leave the door open if someone finds SPIR-V dialect useful for their use case

[2019-08-06 19:32] joker-eph commented on #68
Yes it would in MLIR. But I don't know why it would be a problem?

You are making an implementation choice in MLIR. It seems equally isomorphic to the input SPIR-V binary to represent it in MLIR like this:

[code]

[2019-08-06 19:36] joker-eph commented on #68
I'd like to tame a bit the "proxy to SPIR-V binary format" part: the IR is meant to be convenient to manipulate, modify, etc. *first*. We obviously want it "easy" to round-trip to the binary format as export/import but that does not mean your have to be 1-1 on every single aspects: IMO we shouldn't lose the focus on a compiler IR.

[2019-08-06 19:56] antiagainst commented on #68
Yep, certainly agree here. Actually I listed similar thinking in the design principles: https://github.com/tensorflow/mlir/blob/master/g3doc/Dialects/SPIR-V.md#design-principles. We've decided to use a single `spv.constant` op to represent multiple SPIR-V constant instructions, folding `OpDecorate` into the op it is decorating using attributes, etc. Those are all deviations from the SPIR-V binary

[2019-08-06 20:22] MaheshRavishankar commented on #68
@joker-eph : Fair point. I am basing my reasoning on the current implementation of the SPIR-V dialect. The alternative you suggest would also work if spv.Variables were implemented that way. I dont have any preference one way or the other. The current implementation though has the advantage of making the serialization generation very straight-forward. As Lei mentioned, its a trade-off between easy

[2019-08-06 20:31] joker-eph commented on #68
You wouldn't be able to have function passes because they wouldn't be isolated construct anymore.
The pass-manager relies on operating on non-capturing operations to be able to multi-thread the compiler.

[2019-08-06 20:33] joker-eph commented on #68
Another point of comparison the representation of TensorFlow dialect. There is the same design principle about having a representation isomorphic to TensorFlow graphs with a "trivial" conversion (import/export).
Yet we are not 1-1 and for instance TensorFlow has different operations for "If" and "StatelessIf" (similarly for "While"/"StatelessWhile") but we map this to a single operation in MLIR wi

[2019-08-06 23:04] antiagainst commented on #68
Ah, these are good points. `FunctionPass` are now tightly integrated with `FuncOp`, but I am hoping that we can eventually relax this given that now both `MoudleOp` and `FuncOp` are general ops. So it suggests we should have a general `OpPass` or something to go with the scheme and it would be quite handy for dialects wanting their own version of module op and function op.

For multi-threading com

[2019-08-07 04:55] joker-eph commented on #68
It is true you don't have use-list anymore, but how much do you need to get to the source of these ops in transformations? (for this to be a high-cost, it would need to be very common to need to look this up).

[2019-08-07 16:03] antiagainst commented on #68
I have experience on graphics side. For graphics it's common to have lots of resources (represented sa global variables in SPIR-V) and doing all kinds of load/stores on them with access chains. Load/store elimination and mem2reg passes are important passes to perform and they rely on knowing which resources (global variables) they are performing on. ML use cases might be different, but I'd assume

[2019-08-07 17:02] joker-eph commented on #68
Knowing if two loads comes from the same global should be also a single comparison of the attribute, there shouldn’t be much pessimization here.

I much prefer that we have a spirv.func that is isolated until we get better evidence that it cannot work.

[2019-08-07 19:44] antiagainst commented on #68
Thanks for the questions, Mehdi! They are quite useful for shaping the design. :)

I'm afraid not necessarily. To further elaborate, I think a concrete example may help.

Say we have the following HLSL source code:

[code]
(Mostly C++ syntax; `StructuredBuffer` is a data structure for declaring a GPU resource in HLSL.)

If translated naively, `main` corresponds to
[code]
(The naive translation is

[2019-08-07 21:03] MaheshRavishankar commented on #68
There is a related thing that I haven't quite wrapped my head around is the difference between LLVM handling of globals and what I know in MLIR (so it might be down to my ignorance).

Take this simple example
<int value = 0;

int main() {
   value = 1;
}>

In LLVM this becomes

<@value = dso_local local_unnamed_addr global i32 0, align 4

define dso_local i32 @main() local_unnamed_addr #0 !dbg !7

[2019-08-08 13:16] ftynse commented on #68
I've been looking into globals in the LLVM dialect.  One possible approach would look like

[code]

that would go through a special MLIR-specific op that would convert the stringref attribute to an SSA value usable locally (assuming LLVM's globals are actually pointers).  This only reads the symbol table so it shouldn't interfere with parallel execution of a function pass.  It also avoids the need

[2019-08-08 16:50] MaheshRavishankar commented on #68
Thanks Alex. Thats a good idea!

Trying to summarize the discussion here
1) Having a spv.FunctionOp that can implicitly capture makes the SPIR-V dialect more in tune with the SPIR-V spec.
2) The downside of this is that we cannot multithread function pass that operate on spv.FunctionOp.  Also, current FunctionPass infrastructure needs FuncOp, so wither the pass infrastructure needs to change to wo

[2019-08-08 18:26] antiagainst commented on #68
Thanks Alex! That's indeed a good suggestion. A similar `spv.addressof` would be a nice trade-off: we are retaining the SSA value properties for the majority of the ops and only limiting the verification to `spv.addressof` op itself. I think it helps to fix the last bit on my previous proposal on converting between `std.func` and `spv.function`: now entry function does not need to be special anymo

[2019-08-08 18:29] antiagainst commented on #68
@joker-eph: what do you think? :)

[2019-08-08 19:11] joker-eph commented on #68
This is the cornerstone of your argument, and I think you need to expand it a bit: to justify not doing it in the converter I'd like get a bit more information about how heavy it is to do it here, it isn't clear to me that this can't be done reasonably there (another prior art is the flat-buffer importer for TFLite: we don't try to just import naively the flat buffer format).
Of course translation

[2019-08-08 20:29] joker-eph commented on #68
By the way, I hope you didn't miss: https://groups.google.com/a/tensorflow.org/d/topic/mlir/gwuZvfzh1u0/discussion

Writing function passes that operate on spirv.func will be possible (if they are isolated).

[2019-08-09 20:48] antiagainst commented on #68
Yep, saw that awesome proposal previously. Thanks for the heads up! :)

[2019-08-11 18:12] denis0x0D commented on #60
@antiagainst @MaheshRavishankar I want to share some intermidiate results on this tasks, can you please comment on the followring.
The simple Vulkan runtime is almost done, it does all needed runtime machinery like:
creates vulkan Instance, Device, MemoryBuffers, ShaderModule, DescriptorSetLayoutBindings, DescriptorSetLayoutInfo, PipelineLayout, Pipeline, DescriptorPool, DescriptorSets, CommandsBu

[2019-08-12 07:25] bondhugula opened #72 "applyPatternsGreedily mutates IR even with empty pattern list"
applyPatternsGreedily with an empty pattern list still mutates the IR (I wasn't expecting this). This forces users of the method to write tests that consider the compounded effect (even for parts of the IR that they aren't matching on). This also  means passes performing pattern rewrites in addition to (and after) doing other transformations will have to check for unexpected effects.  Reproduce it

[2019-08-12 10:23] Johnson9009 opened #73 "Top Level Operator will Cause Core Dump"
# Stack of Core Dump
[code]
# Reproduce
The content of `a.mlir` is listed below.
[code]
The reproduce command line:
[code]

# Tips
If the operator is inside module(something like below), then the issue gone.
[code]

# Debug Clues
1. The core dump is caused by below line of function `OperationParser::recordDefinition`.
https://github.com/tensorflow/mlir/blob/fc75bdf86bc784dc034a54705d41273bb1ee387f

[2019-08-12 16:04] antiagainst commented on #60
This is awesome!

Both are reasonable for me. And we can revise as we go.

You are right. If you are interested in picking up the task, you are more than welcome! :)

Yes. I think for now we can just emit `Shader` capability in the serializer specially given it's the only one needed for the simple cases right now. I'm thinking about how to handle capabilities in general; it should come later.

Act

[2019-08-12 16:17] MaheshRavishankar commented on #60
Thanks @denis0x0D ! This is really great. I think the best way forward would be to just create a bugs for each thing missing, and we can assign ourselves to it so that we can co-ordinate. Since you have an idea of what you need for the runner, do you mind filing the bugs. Thanks!

[2019-08-12 17:02] denis0x0D commented on #60
@antiagainst @MaheshRavishankar thanks for the comments. So, I'm about to create 3 issues,
1. Support serialization for spv.struct.
2. Extend spv.array with layoutinfo and update serialization.
3. Emit OpCapability for spv.Module serialization.

Let me know if it's ok, and which one I can start on.

@antiagainst

Please fix me if I'm wrong, but it seems like a blocker for Vulkan runtime. In this c

[2019-08-12 20:28] River707 commented on #73
I believe this was already fixed [here](https://github.com/tensorflow/mlir/commit/45b303b5fc3d712c394d8dad73765f1f2514c331#diff-76518247325e705169f4eda40274d52b).

[2019-08-12 22:17] antiagainst commented on #60
SGTM! Please feel free to create them! :)

Feel free to indicate which one you are interested and I'll assign that one to you.

Ah, I'm just explaining why it is missing at the current moment. It's definitely something we need to fix. It's just not yet implemented.

[2019-08-12 22:54] denis0x0D commented on #60
@antiagainst thanks, got it!

[2019-08-13 00:39] Johnson9009 commented on #73
@River707 Thanks, it seems we haven't sync with github in time, sorry for this boring issue, I will sync with github first next time.

[2019-08-13 00:39] #73 closed

[2019-08-13 00:43] River707 commented on #73
No problem, Thanks for the report!

[2019-08-13 00:49] joker-eph commented on #72
@River707  hinted me that constant folding is always applied, is this the effect you're referring to here? Do you have an idea about what to do about this?

[2019-08-13 01:00] River707 commented on #72
Yes, sorry. 'applyPatternsGreedily' also always performs folding/constant folding regardless of whether patterns match or not. It should probably be(it currently isn't) mentioned in the comments.

[2019-08-13 02:37] bondhugula commented on #72
In this case, it isn't exactly constant folding (since there are no constants), but just folding. I think besides folding/constant folding, applyPatternsGreedily also always removes dead side effect-free ops irrespective of whether there are any patterns or any patterns match. This is misleading given the name and doc comments, and is probably because the code was originally written to drive the c

[2019-08-13 09:57] denis0x0D opened #76 "[spirv] Extend spv.array with layoutinfo and update serialization"
The spv.array type must be extended with layoutinfo to support decoration:
`OpDecorate %array ArrayStride 4`
Note: this issue is a blocker for https://github.com/tensorflow/mlir/issues/60

[2019-08-13 10:03] denis0x0D opened #77 "[spirv] Support serialization for spv.struct."
Serialization for spv.struct must be added alongside with decoration with BufferBlock.

_BufferBlock apply to a structure type to establish it is an SSBO-like shader-interface block._

`
OpDecorate %structType BufferBlock`

Note: it is a blocker for https://github.com/tensorflow/mlir/issues/60

[2019-08-13 10:06] denis0x0D opened #78 "[spirv] Emit OpCapability for spv.Module serialization"
To generate a valid compute shader the OpCabality is needed.
`OpCapability Shader `
Note: this is a blocker for https://github.com/tensorflow/mlir/issues/60

[2019-08-13 10:09] denis0x0D commented on #76
@antiagainst please let me know if it's ok, if I take this one.
Thanks!

[2019-08-13 12:51] antiagainst commented on #76
SGTM, thanks Denis!

[2019-08-13 16:56] bondhugula opened #79 "replaceAllMemRefUsesWith leaves stray ops when it fails"
When replaceAllMemRefUsesWith fails (when encountering non-deferencing uses of the memref), it returns failure after having processed some number of ops (the replacement ops for the processed ones will have already been introduced -- the IR is left inconsistent). This currently doesn't cause a problem  because all use cases of this utility are checking a-priori whether all uses in the part of the

[2019-08-13 16:57] bondhugula commented on #79
I am happy to fix this.

[2019-08-15 01:27] ToucheSir opened #81 "Compilation fails with latest llvm (after revision 368707)"
It seems https://github.com/llvm/llvm-project/commit/52a34a78d9aff1bb5e66e7c32490229ea177e075 (made yesterday, what timing!) breaks `lib/ExecutionEngine/ExecutionEngine.cpp`:

[code]

In short:
1. `llvm::orc::JITDylib.setGenerator` seems to have been replaced by `.addGenerator`
2. `SearchGenerator` now has to extend `llvm::orc::JITDylib::DefinitionGenerator`
3. Many of the generator-related APIs n

[2019-08-15 11:42] ftynse commented on #81
This has been fixed and will be visible after our systems integrate an LLVM version that is recent enough, thanks.

[2019-08-15 12:07] ftynse commented on #81
This specific issue has been fixed by 5dd2ac4016d2bcd557fc98cea89ecb6915452f0c.  CI build is still broken because of the compiler not having C++14 support.

[2019-08-15 12:07] #81 closed

[2019-08-15 13:48] ToucheSir commented on #81
Thanks for the quick fix!

As someone who is still wrapping their head around the codebase, just a question about https://github.com/tensorflow/mlir/commit/5dd2ac4016d2bcd557fc98cea89ecb6915452f0c#diff-c9108781315ffa6fb84366eab36cd6e4R143: Is the mlir `SearchGenerator` wrapper class used outside of `OrcJIT`? One of the issues I ran into trying to resolve the compilation errors locally was that `JI

[2019-08-15 18:07] MaheshRavishankar commented on #60
FYI, This seems like a blocker for this work as well https://github.com/tensorflow/mlir/issues/68

[2019-08-16 08:50] denis0x0D commented on #77
@antiagainst @MaheshRavishankar I've started to work on this.
Thanks!

[2019-08-16 09:19] bondhugula opened #82 "AffineExpr::simplifyAdd bug + fix"
Currently, the affine expr, d0 - (d0 + 1), for example, is simplified to 0 in AffineExpr::simplifyAdd. (Any d0 - c * (d0 <binOp> c) is being simplified to d0 mod c due to a missing conditional.)

func @foo(%M : index) -> index {
  %v = affine.apply (d0) -> (d0 -(d0 + 1)) (%M)
  return %v : index
}

$ mlir-opt test.mlir
#map0 = (d0) -> (0)

module {
  func @foo(%arg0: index) -> index {
    %0 = aff

[2019-08-16 14:45] bondhugula opened #83 "Build failure - missing std::index_sequence - C++-14 flag missing?"
With the current resp. tips of LLVM and MLIR, the build fails with messages below (with both clang and gcc). Looks like the -std=c++14 compile flag is missing from the conf?

In file included from /home/uday/llvm-project-bondhugula/llvm/projects/mlir/lib/TableGen/Argument.cpp:18:
In file included from /home/uday/llvm-project-bondhugula/llvm/projects/mlir/include/mlir/TableGen/Argument.h:33:
In fil

[2019-08-16 14:47] denis0x0D commented on #83
@bondhugula this must be fixed by updating CMake https://github.com/tensorflow/mlir/blob/master/CMakeLists.txt#L10
to 14 standard

[2019-08-16 14:53] jpienaar commented on #82
Could you create a PR instead of an issue if you are proposing a fix? Thanks

[2019-08-16 14:55] jpienaar commented on #83
Thanks @denis0x0D yes I'll remove that temporary rule given LLVM has changed to using C++14 this week (well the move was planned long in advance, AFAIK the first code using it landed this week).

[2019-08-16 15:33] jpienaar commented on #83
Should be addressed by #f8e80e2624623e43f209ac832fd8d3501adfde18. Thanks

[2019-08-16 15:33] #83 closed

[2019-08-16 15:51] antiagainst commented on #77
Cool, thanks @denis0x0D!

[2019-08-17 05:44] freedomtan commented on #83
@jpienaar this is another problem. You have to s/llvm::make_unique/std::make_unique/

[2019-08-17 09:15] denis0x0D commented on #76
this is closed by https://github.com/tensorflow/mlir/commit/43cb2e491b095b331659e298f3bb536b29583e56

[2019-08-17 09:15] #76 closed

[2019-08-17 13:40] jpienaar commented on #83
@freedomtan yes we have that change pending but we need to wait for another integrate internally before we can submit (there is an ugly workaround I could do in the meantime but I might avoid doing that over the weekend)

[2019-08-17 17:20] MaheshRavishankar commented on #68
After some back and forth, we have converged on not going down the path of implicit capture. This requires some changes to the existing SPIR-V dialect

1) Global variables (variables in scope of spv.module) have to not return a SSA value, but rather have a symbol name. The symbol name can be used within functions to refer to these global variables
2) An new instruction (spv._address_of) is needed

[2019-08-17 17:27] MaheshRavishankar commented on #68
Closing (fixed by commit https://github.com/tensorflow/mlir/commit/ec61a757a00abbf762a53a32a0b8955d215b679a)

[2019-08-17 17:27] #68 closed

[2019-08-17 17:36] MaheshRavishankar opened #86 "[spirv] Add module level constants in SPIR-V dialect"
Global variables in SPIR-V now use symbol names instead of returning a SSA values. The initializers of global variables also use these symbol names. Since constants can be used as initializers, module-level constants need to also have symbol names (instead of returning a symbol value).
Also need a mechanism to either materialize these global constant within a function scope so that there is an SSA

[2019-08-17 17:37] MaheshRavishankar commented on #77
Fantastic @denis0x0D ! Please let me know if you need any help.

[2019-08-17 18:40] denis0x0D commented on #77
@antiagainst @MaheshRavishankar thanks a lot!
@MaheshRavishankar serialization for struct type and members decoration looks straight forward, since struct type already has layoutinfo. But I'm not sure about decoration with `Buffer` or `BufferBlock` , the spec requires to decorate struct type with BufferBlock :

and Block:

it seems like we need an additional field in the StructType to specify SSBO

[2019-08-17 18:41] bondhugula commented on #79
Addressed in https://github.com/tensorflow/mlir/pull/87

[2019-08-18 12:17] bondhugula opened #89 "AffineApplyNormalizer::renumber returns invalid map"
AffineApplyNormalizer::renumber isn't a publicly exposed method - it however generates invalid maps in some cases. Reproduce with two normalizers created with the maps below:

( )[s0] -> (s0) (%v1)
( )[s0] -> (s0) (%v2)

Calling renumber on the first with the second as argument yields:
( ) (s0) -> (s1)      // invalid

The expressions it generates are correct, but the returned map's input dim/symb

[2019-08-18 21:04] antiagainst commented on #77
Good question!

It's a confusing point that by applying `BufferBlock` decoration, you can actually write to `Uniform` storage class: `Uniform` storage class together with `BufferBlock` actually means `StorageBuffer` storage class. [SPV_KHR_storage_buffer_storage_class](http://htmlpreview.github.io/?https://github.com/KhronosGroup/SPIRV-Registry/blob/master/extensions/KHR/SPV_KHR_storage_buffer_sto

[2019-08-18 22:40] denis0x0D commented on #77
@antiagainst thanks a lot for detailed explanation!
Is it ok to separte this PR into:
1. serialization for spv.struct with offset decorations.
2. another one related to decoration of top-level spv.struct with Buffer

By the way, seems like to test decoration with Buffer requires to write a check for binary form, since it will no affect text format, am I right? Please correct me if I'm missing some

[2019-08-18 23:04] antiagainst commented on #77
SGTM to implement them with separate PRs!

You are right that the `Buffer` decoration instruction won't be reflected in the MLIR `spv.module` deserialized. Writing tests to check the result binary is one way to go. Right now we have GoogleTest based [DeserializationTest](https://github.com/tensorflow/mlir/blob/master/unittests/Dialect/SPIRV/DeserializationTest.cpp) that checks corner cases of the

[2019-08-18 23:16] denis0x0D commented on #77
@antiagainst thanks, got it.

[2019-08-19 09:32] stakemura opened #91 "How to convert MLIR to SPIR-V?"
Would you like to give me any information how to convert from MLIR to SPIR-V?
I tried to use mlir-translate with serialize-spirv option, but I couldn't realize how to use this option.

[2019-08-19 11:45] Naville opened #92 "Hmm I think you broke the docs"
``Language reference``<- This link is dead

[2019-08-19 13:15] antiagainst commented on #91
Hey @stakemura, thanks for your interest!

`-serialize-spirv` and `-deserialize-spirv` in mlir-translate is for serializing a `spv.module` of the SPIR-V dialect into its binary format and deserializing a SPIR-V binary into is `spv.module` equivalent, respectively. The API entry points are [here](https://github.com/tensorflow/mlir/blob/master/include/mlir/Dialect/SPIRV/Serialization.h). [Tests](htt

[2019-08-19 17:48] stakemura commented on #91
@antiagainst I truly appreciate your quick reply.

One of my motivations is to run compute shader based inference like [Stadia’s Style Transfer ML](https://stadia.dev/blog/behind-the-scenes-with-stadias-style-transfer-ml/).

Currently I'm using TVM to generate SPIR-V assembler as the following code shows.
[code]

The SPIR-V assembler "conv2d.ll" is generated as follows.
[code]

I intended to gener

[2019-08-19 19:04] antiagainst commented on #91
Hey @stakemura, thanks for the explanation; it's exciting to see this coming! :)

We are actively working on the SPIR-V dialect in MLIR and its conversion right now. The end goal is to take in computation graph expressed in TensorFlow (as TF dialect in MLIR) and lower it progressively to SPIR-V and run on Vulkan. So eventually we hope you can just write the style transfer or whatever other inferen

[2019-08-20 13:49] denis0x0D commented on #77
@antiagainst @MaheshRavishankar is it ok, if I start to work on "decoration of top-level spv.struct with Buffer"?

[2019-08-20 14:52] antiagainst commented on #77
Sure, please feel free to take it! Thanks a lot, @denis0x0D !

[2019-08-20 15:59] #92 closed

[2019-08-21 12:02] bhack commented on #91
@antiagainst Are you directly active in the Kronos ML technical subgrpup? httpss://www.phoronix.com/scan.php?page=news_item&px=SIGGRAPH-2019-Vulkan-ML

[2019-08-21 19:17] bondhugula opened #96 "Build failure: LLVMIR/ModuleTranslation.cpp"
I see build failures with the current LLVM tip: 159f621c5c84c0a834394893f7abff222cbc19ad
and current MLIR 1c1e425817e74043ec500357df97af85cd929918

Build config:
CC=clang CXX=clang++ cmake -G Ninja ../llvm -DLLVM_BUILD_EXAMPLES=OFF -DLLVM_ENABLE_CXX1Y=Y -DLLVM_TARGETS_TO_BUILD="host"

/home/uday/llvm-project/llvm/projects/mlir/include/mlir/IR/Attributes.h:1142:9: error: call to implicitly-deleted

[2019-08-21 19:43] antiagainst commented on #91
Hey @bhack, I started to participate in the TSG discussion.

[2019-08-21 21:38] bhack commented on #91
Anything public?

[2019-08-22 00:01] ewconnell opened #97 "MLIR Regression test failures at HEAD (990677db)"
Two of the unit tests fail on the current version. It has been independently reproduced by jpienaar@google.com.

Test configuration
-------------
macOS Mojave
version: 10.14.3 (18D109)
MacBook Pro (13-inch, 2018, Four Thunderbolt 3 Ports)
processor 2.3 GHz Intel Core i5
memory 8 GB 2133 MHz LPDDR3
graphics Intel Iris Plus Graphics 655 1536 MB

**Unit test summary**
-----------------------------
[c

[2019-08-22 01:58] Johnson9009 commented on #97
Meet the same two failed regression tests.

[2019-08-22 02:00] nicolasvasilache commented on #97
fix is coming within minutes

[2019-08-22 02:03] #97 closed

[2019-08-22 17:35] bondhugula commented on #96
Fixed by one of the recent commits.

[2019-08-22 17:35] #96 closed

[2019-08-23 12:19] antiagainst commented on #91
Hey @bhack, thanks for the interest! But I don't think I'm in the position to speak publicly for the whole Vulkan ML TSG. You may watch the Khronos Group's official channels for updates. :)

[2019-08-23 12:31] antiagainst commented on #82
This should be fixed by 09db8c1 now. Closing.

[2019-08-23 12:31] #82 closed

[2019-08-23 12:32] antiagainst commented on #78
https://github.com/tensorflow/mlir/commit/7e719074219050b22c52d6748deedbe6b28b4e9a added support for capability (de)serialization. Closing this.

[2019-08-23 12:32] #78 closed

[2019-08-23 16:40] bondhugula commented on #89
@nicolasvasilache I think the last line of AffineApplyNormalizer::renumber should have been

return map.replaceDimsAndSymbols(dimRemapping, symRemapping,
                                   reorderedDims.size(),
                                   concatenatedSymbols.size());

instead of

return map.replaceDimsAndSymbols(dimRemapping, symRemapping,
                                   dimRemapping.siz

[2019-08-23 18:28] #72 closed

[2019-08-24 07:09] bondhugula opened #100 "-lower-to-llvm minor bug / misleading error message"
On the input:
[code]

$ mlir-opt -lower-to-llvm /tmp/out.mlir
[code]
Both its operands are already vector<8xf32>! Also, since -lower-to-llvm is implemented as a partial conversion, one would expect it to just lower the mulf correctly and not worry about "splat" here?

[2019-08-24 08:04] bondhugula commented on #100
I see - since the "splat" is converted here, its result remains a vector<8xf32>, while the other operand of mulf is converted to an LLVM type.  Using -print-ir-after-all makes this clear.

[code]

[2019-08-24 08:04] #100 closed

[2019-08-26 15:52] bondhugula commented on #53
This is now done in PR #104

[2019-08-26 18:05] bondhugula commented on #53
With PR #104, if you run -simplify-affine-maps, all the non-trivial layout maps are converted to ones with  trivial ones (subject to certain conditions - it's only intra-procedural and there should be no escapes).

[2019-08-26 20:32] nicolasvasilache commented on #89
Thanks for your bug report, I am out till the middle of next week, I'll
address when I come back.

On Fri, Aug 23, 2019, 12:40 PM Uday Bondhugula <notifications@github.com>
wrote:

[2019-08-27 18:21] denis0x0D commented on #77
closed by https://github.com/tensorflow/mlir/commit/5802e0f9c2b698924b7b5eb790b61b841d6f30f4

[2019-08-27 18:21] #77 closed

[2019-08-28 13:54] denis0x0D commented on #60
@antiagainst I'm now working on unittests, can you please specify what is better: embedd spv.module into string in text format or create spv.module by builder?
Thanks.

[2019-08-28 14:46] denis0x0D commented on #60
@antiagainst thanks for answer, basically I was thinking about simple API and library on the first iteration
[code]
and to write a unittest which populates test data, calls that function and evaluates the result.
In this case I can embedd the spv.module into string like
std::string moduleText = "spv.module "Logical" "GLSL450" { ... }" and then parse it, or create it using an API builder, same as f

[2019-08-28 15:50] denis0x0D commented on #60
@dneto0 thanks a lot to comment on this! Lei already mentioned Amber in this thread, it looks really nice and would be great to use it.
By the way,as far as I understood the final goal of this is to be run it by llvm JIT after convertion pipeline, please fix me if I'm wrong.

Pipeline of the passes:
a. The pass which outlines gpu.launch body to kernel function. (GpuKernelOutLiningPass)
b. The pass

[2019-08-29 10:10] denis0x0D commented on #60
@joker-eph thanks for comment on this. It was a discussion in this thread at the beggining about implementation details.

BTW, even simple Vulkan runtime pipeline for compute shader is large, it would be nice to split this big task into small ones, but I might be wrong, please fix me in this case.
Thanks.

[2019-08-30 04:30] joker-eph commented on #60
Splitting big task into small ones is of course important, but again in general we shy away from C++ unit-tests when not strictly needed. I'd even say that we organize our work and design our software so that we can test it as much as possible without these.
Here I'd like to understand more why the approach taken to bring up the CUDA testing can't be replicated?  Basically the plan you initially i

[2019-08-30 14:55] antiagainst commented on #60
Sorry for the late reply!

@denis0x0D:

SGTM to have this as initial testing infra! There is one thing that concerns me though: we are not directly testing the SPIR-V dialect per se. This flow bundles the conversion from GPU+std dialects to the SPIR-V dialect. And the test module is not even expressed via the SPIR-V dialect. So it feels more like testing GPU+std works on Vulkan... However, given t

[2019-08-30 16:28] bondhugula opened #113 "Running a pass from inside another pass"
Trying to run a pass (via the pass manager as described in https://github.com/tensorflow/mlir/blob/master/g3doc/WritingAPass.md ) from inside another pass leads to all kinds of crashes and weird behavior, and this is expected since there are passes running concurrently on the same functions at the top level and then at an inner level. It does work when pass threading is disabled (at the top level

[2019-08-30 17:16] joker-eph commented on #113
On Fri, Aug 30, 2019 at 9:28 AM Uday Bondhugula <notifications@github.com>
wrote:

It should not be tied to the pass infrastructure (I'd see it as a bug): you
should be able to run a pass-manager nested inside another one, I wouldn't
expect this to be a problem.
However you can't break the contract of the pass you are currently nested
in: if you are inside a function pass, you are not allowed to o

[2019-08-30 17:46] denis0x0D commented on #60
@antiagainst @joker-eph thanks a lot for the asnwers.
@antiagainst:

I could missunderstand something, please fix me, but is it possible, for current moment, to introduce initial version as shared lib and one API call runOnVulkan which consumes the spirv::ModuleOp and one small unit test, which will be deleted in the future, I hope.
My concern here is that even simple computation pipeline for vulk

[2019-08-30 22:42] antiagainst commented on #60
SGTM to have `runOnVulkan` taking a `spv.module` and test it with GoogleTest and then later replace it with the runner. I'm also okay if you'd like to directly implement the full runner (now we have the conversion there so it's possible). Given that you are implementing this, I'd say whatever way makes your implementation easier. :)

I think the JitRunner is configurable? It takes a list of transf

[2019-08-31 01:40] bondhugula commented on #113
@joker-eph Thanks! I think some of these points could be mentioned in https://github.com/tensorflow/mlir/blob/master/g3doc/WritingAPass.md

[2019-08-31 04:26] joker-eph commented on #113
Which part should we mention?
(the doc will be updated with the implementation, but it reflects the current state I believe)

[2019-08-31 04:28] bondhugula commented on #113
1) The thing about the contract.
2) The TODO on allowing a pass manager / function pass run on a function.

[2019-08-31 04:36] joker-eph commented on #113
OK, we'll try to make it more clear for 1. It is supposed to be covered in the FunctionPass section. Excerpts:
[code]

[2019-08-31 04:47] bondhugula commented on #113
I see - that part is pretty clear then; I had missed it. But the pass manager part could mention that one can't run a pass manager from within another pass since the latter can only be run on modules at the moment.

[2019-08-31 04:57] bondhugula opened #114 "Build failure - re. TableGen / MLIRContext"
The current master tip fails to  build with these errors:
HEAD: c03072b1e5648fd21a3055a9ebd6d21fc3ed403c
(cmake conf same as in README

[code]

[2019-08-31 05:12] bondhugula commented on #114
A clean build with GCC fails early with this:

[code]

It appears to go further with clang, but fails with the messages in the original post.

[2019-08-31 05:54] freedomtan commented on #114
Add MLIRIR to dependencies should work

[2019-08-31 07:11] bondhugula commented on #114
The errors with GCC were LLVM related and are gone with an update to its tip. But the MLIRContext / TableGen errors are due to a missing dep as mentioned by @freedomtan

[2019-08-31 15:06] denis0x0D commented on #60
@antiagainst thanks a lot for the detailed answer!

[2019-08-31 21:09] antiagainst commented on #114
Thanks for the repot and the fix, @bondhugula and @freedomtan! https://github.com/tensorflow/mlir/commit/3776ee295d7d1b3e848a3181e1ab8b0082edd4ec should have fixed this. :)

[2019-08-31 21:09] #114 closed

[2019-09-02 07:39] Johnson9009 opened #117 "Wrong Assert in Token::getStringValue Cause Core Dump When Process Escape Character"
# Stack of Core Dump
[code]
# Reproduce
The content of `str_attr.mlir` is listed below.
[code]
The reproduce command line:
[code]
# Root Cause
The core dump is caused by below line of code.
https://github.com/tensorflow/mlir/blob/39355effdab076e6e905122c43ce071b34a0f405/lib/Parser/Token.cpp#L93
For the scenario which the escape character is the last char of the string, when the character '\' is go

[2019-09-02 18:54] joker-eph commented on #60
Right, but that's what I mentioned before when I wrote:  "I'd even say that we organize our work and design our software so that we can test it as much as possible without these".
You can look at how the mlir-cuda-runner was landed for example.

I am not really sure how to consider any runtime API independently of the lowering. It seems that the API that `gpu.launch_func` needs to be lowered to is

[2019-09-03 08:23] dimkou opened #119 "Whitepaper or citation format"
How should one cite MLIR? Is there a whitepaper available?

[2019-09-03 11:10] denis0x0D commented on #60
@joker-eph thansk for the asnwer! If I got you right, the current blocker for Vulkan runtime is:
- The pass which replaces "gpu.launch_function" with call into runtime part, and instruments code with calls to runtime machinery simliar to GpuLanchFunctToCudaCallsPass does. The result of the pass must be something like Lei mentioned:
[code]
The extern functions are just wrappers around the actual Vu

[2019-09-03 18:01] River707 commented on #117
Thanks for the report and breakdown!

[2019-09-03 18:27] #117 closed

[2019-09-03 19:20] joker-eph commented on #119
The best we have at the moment would be: https://ai.google/research/pubs/pub48035

[2019-09-03 19:20] #119 closed

[2019-09-04 05:56] bondhugula commented on #79
Fixed in #87

[2019-09-04 05:56] #79 closed

[2019-09-04 08:58] joker-eph commented on #60
This does not seem different from the PTX generated by LLVM that can be present in the cubin and passed to the Nvidia driver? The fact that LLVM is involved to emit the binary blob and embed it in the IR or another serialization mechanism for SPIR-V seems fairly opaque to me here.

Your edit seems right to me that it is likely that a final users will likely want to integrate in their own runtime e

[2019-09-04 10:26] denis0x0D commented on #60
@joker-eph thanks for the answer, it's clear now for me.
@antiagainst @MaheshRavishankar can you please share, do you have any plans to implement the pass which is similar to this https://github.com/tensorflow/mlir/blob/master/lib/Conversion/GPUToCUDA/ConvertLaunchFuncToCudaCalls.cpp#L289
Thanks.

[2019-09-04 16:49] antiagainst commented on #60
Yes some users would like to have their own runtime. They can use the SPIR-V lowering path in a isolated way: the user partitions the computation graph by itself, extracts suitable subgraphs and feeds it to the SPIR-V lowering path, and get the final SPIR-V blob and uses it to create a shader module. The MLIR system has no interaction with the runtime side whatsoever; it only touches kernel compil

[2019-09-04 18:46] denis0x0D commented on #60
@antiagainst thanks a lot for the answer!

This is interesting to know!
BTW, Is it ok, if I'll create a new issue for the task related to that pass?

[2019-09-04 19:14] bondhugula opened #120 "mlir::ExecutionEngine isn't using the opt pipeline"
Although ExecutionEngine::create takes an optimizing pass pipeline as input, that argument ('transformer') remains unused --- a previous commit changed that and so its doc comment is inaccurate. As a result, code generated by 'mlir-cpu-runner -O3' for example  is vastly different than that by  '... | mlir-translate -mlir-to-llvmir | opt -O3  | llc -O3'.
This impacts both mlir-cpu-runner and the to

[2019-09-04 20:12] antiagainst commented on #60
Sure!

[2019-09-04 21:23] nicolasvasilache commented on #120
thanks for your report, sending a fix soon.

[2019-09-05 02:17] #120 closed

[2019-09-05 03:59] bondhugula commented on #120
@nicolasvasilache  Thanks for the quick fix! While this runs the opt O3 passes, the right/specified optimization level would still not be used for the actual machine code generation  - sort of like using -O3 with 'opt' but using no opt with 'llc'. (It can impact performance significantly.) I"ll send a fix for this.

[2019-09-06 00:02] bondhugula opened #121 "canonicalize does not compose maps into affine load/stores"
This is really a missing feature post the update to affine load / stores that changed them to hold maps. The '-canonicalize' pass is expected to compose maps into the load/store, but it doesn't. Such a composition in general makes the IR more compact and can speed up those utilities that would otherwise have to construct the composed map + operands multiple times.

[code]

[2019-09-06 07:49] bondhugula commented on #121
I'd like to take this one.

[2019-09-06 21:47] nmostafa opened #125 "ExecutionEngine debug messages in release mode"
@nicolasvasilache ,
In https://github.com/tensorflow/mlir/blob/72e261bae4f48eb513cee6f7ffea5ecd0c90458b/lib/ExecutionEngine/ExecutionEngine.cpp#L80

Are you missing LLVM_DEBUG(..) or is this intentional ? It is polluting our output currently for nGraph unit-tests. I think it should be enabled only debug build with `-debug ` flag.

[2019-09-07 19:02] joker-eph commented on #125
Fixed in f48ab96e78715390c3f79cb9ff74b80e23897f25

[2019-09-07 19:03] #125 closed

[2019-09-07 21:07] nicolasvasilache commented on #125
Thanks for the fix!

On Sat, Sep 7, 2019, 3:03 PM Mehdi Amini <notifications@github.com> wrote:

[2019-09-11 01:22] antiagainst opened #127 "[spirv] Add OpControlBarrier and OpMemoryBarrier"
We need the definitions of these two ops and their (de)serialization.

[2019-09-11 01:22] antiagainst commented on #127
@denis0x0D are you willing to help on this? :)

[2019-09-11 01:37] antiagainst opened #128 "[spirv] Add a pass to decorate types with layout info"
If a composite type is used for global variables in `StorageBuffer`/`Uniform`/`PushConstant` storage class, then it must be explicitly [laid out](https://www.khronos.org/registry/spir-v/specs/unified1/SPIRV.html#_a_id_shadervalidation_a_validation_rules_for_shader_a_href_capability_capabilities_a). Right now lowering passes need to make sure the generated SPIR-V global variables follow the above r

[2019-09-11 01:38] antiagainst commented on #128
@denis0x0D, are you interested in this? :)

[2019-09-11 08:18] denis0x0D commented on #127
@antiagainst yes, of course! Thanks a lot!

[2019-09-11 08:27] denis0x0D commented on #128
@antiagainst yes! Can I take it?
Thanks.

[2019-09-11 13:25] antiagainst commented on #128
Sure! Thanks for your help!

[2019-09-12 01:21] antiagainst opened #131 "[spirv] Add support for function calls"
Thus far the SPIR-V dialect is able to support multiple functions in a module and their (de)serialization. It would be nice to add `spv.FunctionCall` so we can make it really useful!

[2019-09-16 22:16] mvermeulen opened #138 "Compilation error from the "getting started" instructions?"
I see the following compilation error when I follow these getting started instructions on Ubuntu 16.04 modified to use "Unix Makefiles" since ninja-build wasn't new enough
[code]
Here is the compilation error
[code]
I notice there was a change 779430563412498d069e81bd7286e7e142df424c to move Linalg and VectorOps dialects to Dialect subdir.

So I tried checking out MLIR sources from the commit just

[2019-09-17 05:56] joker-eph commented on #138
I suspect there is a missing dependency which makes it pass depending on "luck" if the target is already built or not. I suspect that if you re-rerun `cmake --build . --target check-mlir` after the original failures it'll end-up passing.

(If you click the green check mark next to each commit you can see our CI results: https://github.com/tensorflow/mlir/commits/master )

[2019-09-17 07:39] #138 closed

[2019-09-17 18:22] antiagainst commented on #131
This is done via #137. Thanks @denis0x0D!

[2019-09-17 18:22] #131 closed

[2019-09-20 13:25] bhack opened #140 "WASI"
Is there any Plan to have an interaction with WASI:
https://github.com/WebAssembly/WASI/issues/59 ?

[2019-09-20 13:54] bhack commented on #140
Check also https://github.com/WebAssembly/WASI/issues/53

[2019-09-20 15:23] bhack commented on #140
/cc @nsthorat

[2019-09-21 18:19] joker-eph commented on #140
I'm not aware of any plan with respect to WASI, but if there are concrete and specific things we can do or collaborate on, we would be happy too.

[2019-09-21 18:27] bhack commented on #140
I think some Google employee was at the Berlin meeting mentioning MLIR:

https://github.com/webmachinelearning/meetings/blob/master/2019-09-17-fukuoka/README.md#meeting-minutes

[2019-09-23 12:07] denis0x0D commented on #128
@antiagainst can you please comment on the following, do I get you right?
For each global variable in spv.module, if variable is not a composite type(spv.struct, spv.array, vector), we have to change its type to spv.struct. Something like this:
`spv.globalVariable @var1 bind(0, 0) : !spv.ptr<f32, StroageBuffer>`
to
`spv.globalVariable @var1 bind(0, 0) : !spv.ptr<!spv.struct<f32 [0]>, StorageBuffer

[2019-09-23 14:11] antiagainst commented on #128
I think that's a separate issue. For this issue, we should just handle existing `!spv.struct` in StorageBuffer/Uniform/PushConstant storage class but without layout decorations. An example is turning

[code]
into
[code]

[2019-09-23 14:12] antiagainst commented on #127
This is done via #130. Thanks @denis0x0D!

[2019-09-23 14:12] #127 closed

[2019-09-23 14:24] denis0x0D commented on #128
@antiagainst got it, thanks!

[2019-09-23 23:51] MaheshRavishankar commented on #128
Sorry for chiping in late here, but I think a good place to put this would be in the conversion framework into SPIR-V. Essentially make sure all the type conversion are handled appropriately when lowering into the SPIR-V dialect. The next thing I am going to work on is to provide interface in the conversion framework that simplifies this. This would be a nice place to implement the above. Some oth

[2019-09-24 10:47] denis0x0D commented on #128
@MaheshRavishankar I've started, but I'm fine to cancel it, if there a better place for this logic.

@antiagainst @MaheshRavishankar I can start to work on passes which are needed for vulkan-runner; to be able to run vulkan-runner simliar to cuda/cpu-runner.
Thanks.

[2019-09-24 12:50] #121 closed

[2019-09-24 17:22] MaheshRavishankar commented on #128
@denis0x0D : It depends on how much effort it is to finish it up if you have already started. If you are almost done then it would be great to have (especially the tests would be very helpful). I can reuse the code for the lowering. Hoping that this information will help you prioritize.

[2019-09-24 17:41] denis0x0D commented on #128
@MaheshRavishankar ok, got it, I'll finish then! Thanks!

[2019-09-25 08:25] joker-eph commented on #128
I am not sure I grasp well this "laid out" thing, but it this is a requirement for generating a valid SPIR-V module and you're putting this in the lowering / conversion: then it seems like something that is in the scope of the verifier to enforce (the IR should not be "invalid").

[2019-09-25 11:31] bhack commented on #140
@nsthorat Do you was there?

[2019-09-25 16:00] antiagainst commented on #128
I think they are two connected issues. Yes we should add verification rules to catch missing layouts. During the lowering, we also need to generate properly laid out `spv.struct` types for global resources. This issue focuses on the later. (Although I think the layout calculation rule can be shared. :)

[2019-09-25 16:08] denis0x0D commented on #128
By the way, I using an OpRewritePattern machinery to replace an global op with type !spv.ptr<!spv.struct<...>> without layoutinfo to !spv.ptr<!spv.struct<...>[...]>> with layout info. I hope it's  a right way.

[2019-09-26 03:37] bondhugula opened #147 "TableGen get <some attr>AttrName methods on ops?"
In both the custom print and parse methods of ops that are tablegen'd, in several places, the names of the attributes are either hardcoded or 'get' methods for the attributes are explicitly added to the tablegen description (for eg. getPredicateAttrName, getStepAttrName, getLowerBoundAttrName). Although the 'get' methods for the attributes themselves are automatically generated, auto generating 'g

[2019-09-26 12:46] antiagainst commented on #147
It happens I've already prepared CLs for this. :) Going through reviews now.

[2019-09-26 19:38] mfojtak opened #152 "Extending Python api"
Is there a plan to extend the python API?
Specifically, adding builders for loop dialect ops - *loop.for* and *loop.if*
Or even better - is there a way to extend the api with generic operation builder.
Currently, it is possible to create simple ops using "op" method.
But I could not find a way how to create ops for operations that deal with regions - like loop.for or loop.if.
I am creating Python

[2019-09-27 01:13] joker-eph commented on #152
I'd be in favor of building proper and layered bindings, the current ones have been assembled to support a specific experiment and don't seem suitable to build upon in my opinion.

As a basic layer, I would start with the part of MLIR that is the less likely to evolve at this point: building a generic Operation, Region, and Block. This would immediately enable you to use any dialect via a generic

[2019-09-27 01:31] bondhugula commented on #147
Thanks very much! :)  I'll wait for this before I submit my pending stuff. Please feel free to close this once that's committed.

[2019-09-27 10:17] mfojtak commented on #152
The python binding itself is not a problem.
The problem is that there is not even cpp high level api. The edsc api looks promising but it is still incomplete.
Is there any plan on developing convenient high level api for Region and Operation that could be used from Python or Swift?

[2019-09-27 16:40] MaheshRavishankar commented on #128
@joker-eph : I agree, it should be part of verifier too.

[2019-09-27 16:51] kiszk opened #158 "Results of Tutorial Toy Chapter 1 looks different from the description"
When I run Tutorial Toy Chapter 1, I realized there are two differences from the description.
Should we address these differences? Or, is MLIR specification changed?

1. Loc of BinOp is different: Should `BinOp: * @ast.toy:6:14` be `BinOp: * @ast.toy:6:12`?
1. `VarDecl a<> @ast.toy:12:3` has no shape while [the example](https://github.com/tensorflow/mlir/blob/master/g3doc/Tutorials/Toy/Ch-1.md#the

[2019-09-27 17:19] joker-eph commented on #158
Thanks for the report! I would delay acting on this at the moment as in the next two weeks we are landing a major update to the whole tutorial.

[2019-09-27 17:29] kiszk commented on #158
I see. Item 2 may come from the specification update of MLIR. On the other hand, item 1 looks incorrect. Should we find and solve the root cause in mlir module?

[2019-09-28 16:18] joker-eph commented on #152
Can you expand how different it is from what I was suggesting above? (start with the APIs for "building a generic Operation, Region, and Block")
I may misunderstand what you're looking for.

[2019-09-29 06:33] mfojtak commented on #152
What you're suggesting makes sense. I am just asking if there's a plan to do this.
I need to choose which way to go now. Another alternative for me is to build MLIR IR using string operations (custom python IR printer) and then use simple binding capable of parse/compile/invoke this IR.
I tried to to reverse engineer MLIR code to be able to write the API you're suggesting myself but I am lost.
On

[2019-09-30 17:13] ftynse commented on #152
Having a frontend is a bit different from having language bindings to construct an IR, although the current Python binding together with EDSC are vaguely going into language usability direction.

The bindings currently in the repo predate many of the MLIR generalizations, such as regions and functions-as-ops and definitely need an update.  A more principled approach along the lines @joker-eph ment

[2019-09-30 18:06] nsthorat commented on #140
@bhack I was there and presented MLIR -- this is nothing concrete just an FYI about MLIR for the group. However, WASM is a backend for LLVM so presumably MLIR can target WASM through LLVM.

[2019-09-30 18:23] bhack commented on #140
@nsthorat Yes I saw you slides. My question was most related as Tensorflow it is entering in the WASM domain with https://github.com/tensorflow/tfjs/issues/1497#issuecomment-528944014 I suppose that in the WASI context, that it is more in an early stage, the MLIR team really wants to play some more "design" role in this phase.
It is why I have mentioned that specific AI/ML WASI issue in this ticke

[2019-09-30 18:23] bhack commented on #140
/cc @dsmilkov if is it interested..

[2019-09-30 18:25] nicolasvasilache commented on #152
Hi @mfojtak,

As @ftynse mentions you can use context managers for some of that but the state of the bindings is generally limited. Note that it is relatively simple to build a simple limited embedded DSL in Python that emits MLIR and runs on top of numpy/jax/tf/you favorite framework on top of this.

Historically, EDSCs used to be a set of C++ abstractions (an AST and syntactic sugar) with delaye

[2019-09-30 18:25] bhack commented on #140
/cc @sunfishcode

[2019-09-30 18:47] bhack commented on #140
@nsthorat Seems that llvm [libc++ 9.0](https://releases.llvm.org/9.0.0/projects/libcxx/docs/ReleaseNotes.html#updates) added explicit support for WASI:

[2019-10-01 06:52] mfojtak commented on #152
Hi @nicolasvasilache,

Thanks for answer.

Sure, like I explained in my previous post.
Currently there is a method in EDSC which allows to create operation producing single value.
[code]
However, this method would not let me to create an op which produces no value and accepts regions as arguments like *loop.if* or *loop.for*.
It would be great if there was more generic create method allowing to em

[2019-10-03 01:30] liwchang opened #164 "linalg-execution-3 seems broken in Windows VS 2017 Debug"
Windows, VS 2017

JITSymbolFlag mismatched in ExecutionEngine/Orc/Core.cpp (Line 388)
Release might have the same issue, but just that assert is optimized.

BTW, by default, linalg-execution-3 won't be built using the instructions in Getting started with MLIR. That is probably the reason it didn't get caught.

[2019-10-03 05:14] joker-eph commented on #164
We're retiring this code soon (as in deleting it from the repository), likely in the next two weeks.

[2019-10-03 14:59] antiagainst opened #165 "[spirv] Add canonicalization patterns for ops"
We don't have much canonicalization patterns for SPIR-V ops thus far. It would be nice to gradually build them up. Interesting ones include but not limited to:

* Combine chained `spv.AccessChain`s into one `spv.AccessChain`
* Convert `spv.selection` to `spv.Select` if possible
* Constant fold arithmetic / logical / cast / etc. ops
* Other peephole optimizations like converting chained `spv.Bitcas

[2019-10-03 15:01] antiagainst commented on #165
Ping @denis0x0D to see if you are potentially interested in helping. :)

[2019-10-03 15:40] denis0x0D commented on #165
@antiagainst it would be great for me to take some of these tasks, thanks a lot!

[2019-10-03 18:20] liwchang commented on #164
Wow. Good to know, thanks @joker-eph. Will there be something similar to LinAlg in the updated tutorial?

[2019-10-04 03:02] bondhugula opened #167 "Build failure: MemRefType::kDynamicStrideOrOffset"
The release build fails with GCC 9.1.1. (Looks like the use of kDynamicStrideOrOffset in Parser.cpp is being taken as an ODR-use. The error goes away if it's assigned to a local var and then pushed. )

/usr/bin/ld: /home/uday/llvm-project-bondhugula/build.release/lib/libMLIRParser.a(Parser.cpp.o): in function `(anonymous namespace)::Parser::parseStrideList(llvm::SmallVectorImpl<long>&)':
/home/uda

[2019-10-04 03:28] bondhugula opened #168 "-lower-to-llvm crash"
$ mlir-opt  -lower-to-llvm test/Transforms/loop-tiling.mlir
mlir-opt: /home/uday/llvm-project-bondhugula/llvm/projects/mlir/include/mlir/IR/Types.h:277: U mlir::Type::cast() const [with U = mlir::LLVM::LLVMType]: Assertion `isa<U>()' failed.
Stack dump:
0.	Program arguments: ../../../build.release/bin/mlir-opt -lower-to-llvm test/Transforms/loop-tiling.mlir
 #0 0x0000000000ac4f4e llvm::sys::PrintS

[2019-10-04 15:58] #167 closed

[2019-10-07 11:59] denis0x0D commented on #165
@antiagainst @MaheshRavishankar is it ok, if I take

- Convert spv.selection to spv.Select if possible

[2019-10-07 16:55] antiagainst commented on #165
Sure, please feel free to take it! Thanks for the help as always, Denis! :)

[2019-10-08 07:19] bondhugula commented on #147
@antiagainst Has this been committed? I didn't notice an update to the op def doc. Thanks.

[2019-10-08 23:08] antiagainst opened #173 "[spirv] Define bit ops"
We need to have all the bit ops defined in the SPIR-V dialect. See the spec ["3.32.14. Bit Instructions"](https://www.khronos.org/registry/spir-v/specs/unified1/SPIRV.html#_a_id_bit_a_bit_instructions) for the list.

[2019-10-08 23:10] antiagainst opened #174 "[spirv] Define cast ops"
We need to support common cast ops. See the spec ["3.32.11. Conversion Instructions"](https://www.khronos.org/registry/spir-v/specs/unified1/SPIRV.html#_a_id_conversion_a_conversion_instructions) for the list. Right now we can ignore those requiring `Kernel` capability.

[2019-10-09 04:07] joker-eph commented on #164
Not exactly like Linalg, we'll lower to affine instead I think. What is it that you're looking for exactly?
We will have this ready by the end of the week if everything goes well.

There is a full-fledge Linalg dialect in the repo now, outside of the "example". It is confusing to have the two in-tree and the tutorial-linalg isn't really maintained. Instead we may add a late chapter in the tutorial

[2019-10-09 17:03] denis0x0D commented on #165
@antiagainst @MaheshRavishankar can you please specify regarding to "convert spv.selection to spv.Select", how actually deep analysis should be?

For example:

[code]
this code could be simplified as follows:

[code]
this pattern is simple to detect and therefore to simplify the code, but there could situations that require more deep analysis for example
1.  globalVariable modifiication, should it

[2019-10-09 17:43] MaheshRavishankar commented on #165
This is just how I would approach it. You see the statements within the true and false branch. If you can find a statement that could be hoisted out of the two branches you do that. This might uncover more statements that can be hoisted out. So you have an outer loop that tries to hoist statements as long as there are no more statements that can be hoisted.
The decision of what can be hoisted can

[2019-10-09 21:52] denis0x0D commented on #165
@MaheshRavishankar thanks for answer!
To clarify, in our approach, we could have a situation when some statements is not valid to hoist out of some branch, and therefore `svp.selection` is not fully replaced with a sequence of `spv.Select`? Do I get you right?
Does this task require a full replacement of  `spv.selection` by `spv.Select` or not?

By the way, I was thinking to analyze branches at fi

[2019-10-09 22:07] antiagainst commented on #165
My suggestion is that we start small by covering the case suggested by Denis https://github.com/tensorflow/mlir/issues/165#issuecomment-540093667. :) This issue is about canonicalization pattern, which is typically simple and straightforward. Hoisting is nice to have but I think it can be its own pass (so also covering `spv.loop`) and it should compose well with the `spv.selection` canonicalizatio

[2019-10-09 22:09] MaheshRavishankar commented on #165
Thats right. I dont think you can do it for all statements. After repeated transformation, if the spv.selection construct is empty, we can delete that construct.

@denis0x0D : It might be simpler to start with arithmatic instructions. With store you need to reason about memory semantics (like handling Volatile, etc.) and make sure it is valid to hoist the store which is more involved. Better place

[2019-10-09 22:13] MaheshRavishankar commented on #165
Agreed. the analysis needed for deciding if an instruction can be hoisted or not can be shared (maybe it can even be something generic within MLIR itself since most, if not all, of the logic involved would not be specific to SPIR-V dialect).

Also agree that of the canonicalizations the selection -> Select is more involved. The other ones listed are simpler and provide a lot of value.

[2019-10-09 22:28] denis0x0D commented on #165
@antiagainst @MaheshRavishankar thanks for the answers, sounds great to me about simple patterns, since "canonicalization" applies as part of the operation simplification https://github.com/tensorflow/mlir/blob/master/lib/Transforms/Canonicalizer.cpp#L50
Thanks!

[2019-10-10 14:07] bondhugula opened #178 "Invalid code passes verification: return type mismatch"
I wasn't expecting this code to pass verification but it does. (The return op's operand type isn't the same as the function's return type here.)

  func @foo(%arg0: !llvm<"{ float*, i64, [2 x i64], [2 x i64] }*">) -> !llvm<"{ <8 x float>*, i64, [2 x i64], [2 x i64] }"> {
    %0 = llvm.load %arg0 : !llvm<"{ float*, i64, [2 x i64], [2 x i64] }*">
    %1 = llvm.extractvalue %0[0 : index] : !llvm<"{ f

[2019-10-10 16:20] River707 commented on #178
The problem is of a much larger scope than this issue, almost none(only 3) of the operations in the LLVM dialect have verification.

[2019-10-10 16:44] schweitzpgi opened #180 "Commit 8e24d03e broke our output"
We lower from LLVM Dialect to LLVM IR and spit the result to a file with code like the following.
[code]
After the mentioned commit, the output contains none of the code and is always truncated to
[code]

[2019-10-10 17:43] bondhugula commented on #180
I'm facing the same issue. Certain functions that existed in IR  just disappear on translation to LLVM IR. It looks like the translation is silently skipping conversion of some functions, and the existing test cases aren't adequate to expose it.

[2019-10-10 17:45] ftynse commented on #180
It would be great if you could provide a concrete example where this is a problem. Obviously, our test cases don't cover it so I can only guess...

[2019-10-10 17:52] ftynse commented on #180
One random guess is that those can be standard functions (func) rather than LLVM functions (llvm.func), which would require standard-to-llvm lowering before translation.

[2019-10-10 17:57] bondhugula commented on #180
[code]

[code]

The issue is that mlir-translate isn't complaining when it sees a 'func ...' nor does it leave it alone - it silently swallows it.

[2019-10-10 18:03] bondhugula commented on #180
Or here's a simpler test case.

[code]
[code]

[2019-10-10 20:21] ftynse commented on #180
Then I guessed correctly.

Please check the documentation in the commit in question - https://github.com/tensorflow/mlir/blob/41b550e51131119b634f7968025b4a5301626caa/g3doc/Dialects/LLVM.md#llvm-functions - and how the unit tests were updated.

You either have to run the conversion, as in `mlir-opt -lower-to-llvm filename.mlir | mlir-translate -mlir-to-llvmir`, or use llvm functions, as in `llvm.f

[2019-10-10 20:48] bondhugula commented on #180
But what if they aren't lowered before translate is run on them? Did you miss my second post right above?

The motivation part is really immaterial as I'm trying to provide a test case for what I considered unexpected behavior (but as an aside, linalg-convert-to-llvm does lower the function @bar - it doesn't need to have linalg.* operations for it to convert). Anyway, my previous comment has the s

[2019-10-10 21:01] River707 commented on #180
+1 I would expect an error for non handled operations, instead of silently ignoring them.

[2019-10-10 21:04] bondhugula commented on #178
Right - but as far as the LLVM dialect goes, I think there isn't a need to immediately go overboard fixing all the verifiers to be "op semantic perfect", but just the important ones that impact debugging experience. The lack of verification for LLVM dialect ops often leads to direct tell tale errors when the LLVM verifier itself runs post translation. However, in many other common cases, it's time

[2019-10-10 21:33] ftynse commented on #180
Yes, I agree that mlir-translate should complain on unsupported operations. I have not missed the second part of your post. It is not clear to me whether an error message from mlir-translate is what @schweitzpgi would want to solve this issue, or whether it should be treated as a separate defect report.

It may do that now, but there are no guarantees that it will keep doing so. If you want to con

[2019-10-10 21:45] ftynse commented on #178
As @River707 mentioned, almost none of the LLVM operations have verifiers. There are two reasons for that: (1) LLVM type system is essentially opaque to MLIR, especially in ODS where all the operations are defined; (2) we don't model many aspects of the LLVM yet so it's non-trivial to write verifiers for them. For example, some type mismatches between function declaration and definition are allowe

[2019-10-10 22:04] ftynse commented on #180
I sent a quickfix to mlir-translate not complaining for internal review. If this is sufficient to address the issue, please close it manually after that lands.

[2019-10-10 23:28] schweitzpgi commented on #180
We're not using mlir-translate at all.  There is C++ code that calls `mlir::translateModuleToLLVMIR()` and then we're dumping the module to a file using an output stream.

Don't the patterns added by `mlir::populateStdToLLVMConversionPatterns()` lower the FuncOp correctly?  Prior to this commit, these conversions behaved as expected and we had LLVM IR output, not an empty file.

Here is a Module p

[2019-10-10 23:42] schweitzpgi commented on #180
Here is a smaller test in standard dialect:
[code]
Using the out-of-the-box Std to LLVM conversions, it becomes
[code]
Finally, this gives the same empty file as output.

[2019-10-11 00:20] #168 closed

[2019-10-11 00:53] joker-eph commented on #178
I'm not sure the current way we handle the LLVM dialect is really nice. I suspect on a medium term horizon we should consider making it more "first class" even at the cost of duplication. It seems just not great that the main target dialect does not have a good MLIR experience. This is likely a larger discussion to have in the future though.

[2019-10-11 04:19] bondhugula opened #182 "IR printing (-print-ir-after-all) crash"
The IR printer is expected to be resilient to invalid IR and -print-ir-after-all should never crash on a test case that didn't crash without it (because a developer wouldn't be able to see what's wrong).
[code]
does not crash (it just fails verification), but
[code]

[2019-10-11 05:00] joker-eph commented on #182
I'd expect a developer to print the generic IR when debugging though.

[2019-10-11 05:02] River707 commented on #182
The main way that we can be resilient is to print the generic form of the operation. The main problem is that for debugging when passes generate invalid IR, it's difficult for us to preemptively know that. I've got a PR in review that always prints the generic form on pass failure, but that won't solve the crash here because the verifier is the pass that is failing; Not the one actually generating

[2019-10-11 05:05] joker-eph commented on #180
Before calling to ` mlir::translateModuleToLLVMIR(module);`, I suspect that `func` must be already turned into `llvm.func`.

Not only mlir-translate, but `mlir::translateModuleToLLVMIR()` should not return a partially filed module when it failed, the error handling here isn't clear to me?

[2019-10-11 05:19] bondhugula commented on #182
Yes, but that would crash as well here (?).

[2019-10-11 05:23] bondhugula commented on #182
Sorry, -mlir-print-op-generic does work here. But I'd expect a developer to print the custom form (readability) even while debugging. I for one never use the long form in MLIR for debugging - very rarely do I find it useful.

[2019-10-11 05:35] bondhugula commented on #182
Thanks very much for the detail. The second option sounds satisfactory to me.

Thanks.

[2019-10-11 08:09] ftynse commented on #180
This output looks problematic. It should not contain `func` but rather `llvm.func`. I will investigate.

It should return a nullptr in case of errors.

[2019-10-11 08:11] ftynse commented on #180
It does, it's just FileCheck is able to match the `func` part of `llvm.func` to the expected output. We need to harden the test though.

[2019-10-11 08:35] ftynse commented on #180
So this code fails the assertion as of 85ce9db5eb43, as I would expect.

[code]

[2019-10-11 08:39] ftynse commented on #180
This code that does the std-to-llvm conversion programmatically works just fine.

[code]

and produces

[code]

@schweitzpgi does this code reflect how you do "out-of-the-box" conversion? Could you check if you still experience the problem after d0c127ef689a368c09895935b8b139e8d1463265 ?

[2019-10-11 09:03] bondhugula commented on #180
Was this after your recent fix or before? If it returned nullptr before, I'm not sure how mlir::translateModuleToLLVMIR would return a partially translated module with the unsupported ones deleted.

[2019-10-11 16:34] schweitzpgi commented on #180
@ftynse I synched to the latest mlir just now.  After removing a call to `mlir::populateFuncOpTypeConversionPattern()`, I am seeing the functions output as expected again.

Thanks for your help.

[2019-10-11 20:10] joker-eph commented on #178
Are you talking about using MLIR for LLVM itself? This is more ambitious than what I had in mind (which was focused on the LLVM Dialect alone), especially in terms of projects dependencies.

[2019-10-12 21:29] tjingrant opened #185 "Value Name?"
Hello MLIR developers,

I noticed that MLIR Value (declared as in [here](https://github.com/tensorflow/mlir/blob/70e6056497144c1ec89b3584d5e9a57ffb16b020/include/mlir/IR/Value.h)) does not seem to have a mechanism to have custom names. So right now, it seems like IR built using OpBuilder must produce SSA ID's with names like `%0`, `%1`, I wonder if there are better ways to assign meaningful names

[2019-10-13 02:02] joker-eph commented on #185
Hi Tian,

On Sat, Oct 12, 2019 at 2:29 PM Tian Jin <notifications@github.com> wrote:

We discussed it extensively, supporting it is a bit complicated so we
punted it at the moment (I would welcome it if someone wanted to make it
happen, but this will require some design discussions).
Note also that this is a feature that in LLVM is intended only for
debugging purposes, clang will elide any SSA val

[2019-10-13 03:21] tjingrant commented on #185
Hi @joker-eph thanks for your quick response, would love to know more about the status quo:

- What were some notable conclusions of the extensive discussion? (is transcript available?) I'm curious why such feature warrants extensive discussion.
- Is it complicated in the sense that it is tricky? or in the sense that I'll have to do some readings into how LLVM implements it and come up with a simi

[2019-10-13 18:45] joker-eph commented on #185
On Sat, Oct 12, 2019 at 8:21 PM Tian Jin <notifications@github.com> wrote:

views on what is the right thing to do here :)
Also this was discussed right before we were thinking about evolving
modules and function into operations, which we had to tackle first since we
didn't want to over-fit a solution for uniquing names that would be
hard-coded for the FuncOp.

I can summarize my position. There a

[2019-10-13 22:41] jpienaar commented on #185
I was pro using locations :) As we do have namedlocations where one can assign a meaningful name as a location. We also track locations during transformations (for example, creating fused locations) and they serves a lot of the same purposes than the name to me. But as mentioned, locations need not be unique, which could make tracking ambiguous. For that one could, same as a above, have a debug mo

[2019-10-14 08:46] ftynse commented on #178
Having some sort of machine-readable specification of the instruction set would be great, it does not have to use the MLIR ODS.

[2019-10-14 11:47] sherhut opened #186 "Implement support for qualified symbols"
As discussed in the [RFC](https://groups.google.com/a/tensorflow.org/forum/#!msg/mlir/mt5foNR-xL4/cKPk03_cAQAJ) it would be great to have a way to express qualified symbols that refer to objects in nested modules (or otherwise nested scopes that carry a symbol table).

For this, SymbolRef attributes would need to gain their own storage implementation that supports to store a chain of symbols. This

[2019-10-15 04:46] Naville opened #188 "Expanding Op into multiple Ops during Lowering broke IR?"
tldr: I need to replace the old matched Op with two chaining ops, the first op's return type should be the same as the return type of the old Op
_______
Hi:
In our Dialect we need to lower a Op into multiple target specific Ops. Below is related code:

[code]

The input is the following:

[code]

I expect the following MLIR to be generated:

[code]

Instead I got:

[code]

[2019-10-15 07:38] Naville commented on #188
I've tried using the DDR framework for matching and lowering, with a pattern like the following:

[code]
where target op is defined as the following:

[code]

However as far as I can tell DDR doesn't allow passing the result of matched Op around, as such I can't  ``::build`` YYYYOp due to the last argument, Type is missing. Adding a new builder with types hard-coded in only serves as a workaround

[2019-10-15 07:57] #188 closed

[2019-10-15 17:18] tetuante opened #189 "Vector lowering error (--vector-lower-to-llvm-dialect)"
Hi.
 I have found a couple of problems when trying to lower from Vector to LLVM using --vector-lower-to-llvm.  Linalg and Affine dialects are also used. I attach two example input files where I'm experiencing the problems

First (vector_loop_error.mlir in the attachments) I use transfer_read inside a loop nest (loop.for operations). When using  --vector-lower-to-llvm I get the following error:

wh

[2019-10-16 12:35] Rovi98 opened #190 "Error doing Cmake"
When I execute:
`cmake -G Ninja ../llvm -DLLVM_BUILD_EXAMPLES=ON -DLLVM_TARGETS_TO_BUILD="host`

I  have the following error
[code]

[2019-10-16 14:40] bondhugula commented on #190
The commit https://github.com/tensorflow/mlir/commit/a266aec1c35aca193df9ed2517d1c37aa1d895a5 appears to be missing all changes to the build rules.

1) AffineLoopInvariantCodeMotion.cpp should be added to lib/Transforms/CMakeLists.txt
2) include/mlir/CMakeLists.txt, lib/Transforms/CMakeLists.txt need an update,  and a include/mlir/Transforms/CMakeLists.txt is needed to generate mlir/Transforms/Loo

[2019-10-16 17:40] joker-eph commented on #190
Fixed in 43af5a5f84e92b16ca128aaf178b7c053325d606

FYI you can see the green/red checkbox next to each commits here: https://github.com/tensorflow/mlir/commits/master

These indicates the CI status, and clicking on these gives more information about the state of the build. In general when it is red we are already working on a fix.

[2019-10-16 17:40] #190 closed

[2019-10-17 03:07] bondhugula opened #192 "GPU to NVVM test fails"
This test currently fails on the trunk (705a743e69ebb3da93f494cb92b9dea7b852235c):

[code]

[2019-10-17 03:26] joker-eph commented on #192
The commit you're pointing at is passing our CI on Ubuntu, Mac, and Windows: https://github.com/tensorflow/mlir/commits/master

Can you provide more info your host environment (OS version, host compiler, and LLVM version) so I can try to repro?

[2019-10-17 03:31] joker-eph commented on #192
The error I see in your output:

[code]

Seems to be emitted here: https://github.com/tensorflow/mlir/blob/master/lib/Dialect/GPU/IR/GPUDialect.cpp#L147

I think that the issue is that the ArrayRef is invalid.

Can you try replacing it with a SmallVector? (I'll send a patch internally)

[2019-10-17 03:38] joker-eph commented on #192
@bondhugula if you don't mind trying this: https://github.com/tensorflow/mlir/pull/193

[2019-10-17 08:47] bondhugula commented on #192
Fedora 30, c++ (GCC) 9.2.1 20190827 (Red Hat 9.2.1-1), LLVM 52bfa73af841bbbcee0ea59577c9d7b4bd9831d5 from Oct 14.

[2019-10-17 08:57] #192 closed

[2019-10-17 10:51] denis0x0D commented on #165
@antiagainst @MaheshRavishankar is it ok, if I take "Combine chained spv.AccessChains into one spv.AccessChain" ?

[2019-10-17 11:32] antiagainst commented on #165
Sure, please go ahead. Thanks for the help as usual, @denis0x0D! :)

[2019-10-17 13:59] sherhut opened #194 "Consider trip count in loop invariant code motion"
The current loop-invariant code motion pass does not consider trip counts when optimizing loops. This should be added to avoid hoisting code out of loops that actually never execute and hence adding additional computation.

The loop-like interface should probably grow a method to query whether a loop has a statically known trip count. For AffineFor, this can be answered using the mlir::getConstant

[2019-10-17 15:00] bondhugula commented on #194
I'll be happy to take this. @River707 @joker-eph Could you please assign to me?

[2019-10-17 18:31] nileshiith opened #195 "Build Failure"
Compilation fails on cloning and building the latest repo. Can you please help?

Thanks
-----------------------------------
cmake --build . --target check-mlir
[0/1] Re-running CMake...
-- Could NOT find Z3: Found unsuitable version "0.0.0", but required is at least "4.7.1" (found Z3_LIBRARIES-NOTFOUND)
-- Native target architecture is X86
-- Threads enabled.
-- Doxygen disabled.
-- Go bindings di

[2019-10-17 18:50] bondhugula commented on #195
Your LLVM commit ID? I think your LLVM copy might be behind the trunk. LLVM commit id 52bfa73af841bbbcee0ea59577c9d7b4bd9831d5 should work for example.

[2019-10-17 18:53] nicolasvasilache commented on #189
Hello @tetuante

The first case fails because --vector-lower-to-llvm does not know about affine, loops or linalg.
Since this is a partial conversion, ops at those level remain unconverted but end up having operands that are converted and the IR is invalid (hence the error message).
Generally the higher-level dialects include patterns for multiple dialects to ensure A+B+C -> Z works.

So if you use

[2019-10-17 19:42] antiagainst opened #196 "[spirv] Add a pass to convert a sequence of composite insert to one composite construct"
Sometimes we will see the following code pattern

[code]
for composite types.

The above can be converted into a

[code]

To simplify the code and remove undef.

[2019-10-17 19:43] antiagainst commented on #196
https://github.com/google/clspv/blob/master/lib/RewriteInsertsPass.cpp in clspv can serve as an example.

[2019-10-17 23:46] River707 commented on #194
Why would we even need to worry about loops that would never execute? Shouldn't these just be DCE'd?

[2019-10-17 23:47] River707 commented on #182
Can we close this?

[2019-10-17 23:47] River707 commented on #164
The Linalg tutorial has been removed. Closing this now.

[2019-10-17 23:47] #164 closed

[2019-10-17 23:53] River707 commented on #158
The location difference is to be expected because the ast.toy in the test directory has two additional lines to run a lit test. The example in Ch-1.md just needs to be updated to have the explicit shape removed, i.e. it should match whatever ast.toy generates.

[2019-10-18 03:47] bondhugula commented on #194
Because:
1) at compile time, it may not be known whether they execute at least once;
2) at the time LICM is run, it may not be known whether they execute at least once, i.e., the fact that they are dead may arise only after further transformations.

As such, we can't hoist unless the lower bound on the trip count is known to be at least one.

[2019-10-18 04:06] River707 commented on #194
Yep, thanks. I was thinking of something completely different.

On Thu, Oct 17, 2019 at 8:47 PM Uday Bondhugula <notifications@github.com>
wrote:

[2019-10-18 05:57] nileshiith commented on #195
Thanks! it successfully build now.

[2019-10-18 05:57] #195 closed

[2019-10-18 11:34] bondhugula opened #197 "Operation interfaces: can't name the interface method same as free function on op"
With the way tablegen based operation interfaces are generated
https://github.com/tensorflow/mlir/blob/master/g3doc/OpDefinitions.md#operation-interfaces
it doesn't appear to be possible to use the same name for an interface method and a free function that it calls taking the concrete op as input. The latter would resolve to an internal op interface generated method from implicit conversion of the

[2019-10-18 13:08] antiagainst commented on #197
Isn't this a C++ symbol resolution issue? Does using fully qualified symbol name help?

[2019-10-18 14:02] bondhugula commented on #197
The different ops that use the op interface typically reside in different dialects and sometimes in different namespaces (for eg. mlir::loop::ForOp and mlir::AffineForOp). There isn't a single fully qualified symbol name.

[2019-10-18 16:18] bondhugula opened #199 "Add a method to apply specified patterns alone - only on the matching ops?"
It doesn't look like there is a way to apply a specific rewrite pattern in isolation, i.e., without triggering folding and dead code elimination everywhere in the op (its regions), which would include processing ops that don't match and have nothing to do with the specified pattern rewrites. Would it be meaningful to have a flag on applyPatternsGreedily or another version of it that instead will n

[2019-10-18 16:23] bondhugula opened #200 "Pattern rewriting: replaceOp usage + documentation"
This is a copy paste of this thread from the mailing list, which remained unclarified:
https://groups.google.com/a/tensorflow.org/forum/#!searchin/mlir/replaceOp%7Csort:date/mlir/pW8Q8u4qs6Y/M9XSQ_agAgAJ

While the DAG rewriting doc provides a good high-level overview, I think it's missing key information on how replaceOp is to be used. I found this information also missing in the codebase and the

[2019-10-18 16:30] River707 commented on #197
This is c++ visibility rules, it has nothing to do with interfaces. What you are encountering is essentially:

unsigned computeSomeProperty(Operation *opaque_op) {
  auto op = cast<ConcreteOp>(opaque_op);
  return computeSomeProperty(op);
}

You will have to qualify the body as you in c++. Why can't you just use `mlir::computeSomeProperty` if that is what you want? The place that the call is resol

[2019-10-18 17:12] bondhugula commented on #197
Have you already seen post #3 above? computeSomeProperty may not be in the namespace mlir for all the ops that use this interface (for eg. ForOp and AffineForOp live in different namespaces.)

[2019-10-18 17:17] River707 commented on #197
I don't understand why that makes a difference? There is only one point of resolution for *all* ops if you define a body. Are you intending to rely on name dependent lookup?

[2019-10-18 19:10] nicolasvasilache commented on #189
Hello @tetuante

I have a local version of the following test passing locally:
[code]

However it currently needs the following change to AffineOps.cpp, that breaks other things and requires a longer discussion:
[code]

By applying the patch locally you should be able to use the mlir-opt command in the test above.

[2019-10-18 19:35] bondhugula commented on #197
If you use mlir::computeSomeProperty(op), it will not resolve for another dialect op which would have needed mlir::dialectB::computeSomeProperty(op). As a concrete example, consider mlir::getConstantTripCount(AffineForOp) and mlir::loop::getConstantTripCount(ForOp). Using an op interface method with name getConstantTripCount won't work, but changing its name to let's say getTripCountConstant will

[2019-10-18 19:48] River707 commented on #197
I just don't see how this is a problem with interfaces. This is a general c++(any programming language) visibility thing.

[2019-10-18 20:06] denis0x0D commented on #174
@antiagainst @MaheshRavishankar does anyone work on it?

[2019-10-18 20:38] antiagainst commented on #174
No. Please feel free to take it. :)

[2019-10-18 20:54] denis0x0D commented on #174
@antiagainst thanks!

[2019-10-19 01:21] #182 closed

[2019-10-20 16:08] bondhugula commented on #197
But the issue exists because the internal helper method generated by op interface gen has the same name as user specified interface method name. A user is stuck if the ops using the interface lie in different namespaces (their free functions would be in different namespaces and so there is no unique fully qualified name to use). This issue is resolved for example if a suffix of _ is added to the i

[2019-10-21 04:05] bondhugula opened #201 "affine expression print bug - parenthesis ellision"
[code]
The above is printed with an extra left parenthesis.
[code]

[code]

[2019-10-21 09:22] Rovi98 commented on #190
Thanks a lot 😊

[2019-10-21 15:17] doru1004 opened #205 "Simple lowering to LLVM"
In a previous version of the toy example the lowering of the PrintOp to LLVM dialect was done differently. In that version the inner loop nest was generated as:

`LoopBuilder(&i, zero, M, 1)([&]{
        LoopBuilder(&j, zero, N, 1)([&]{
          llvmCall(
            retTy,
            rewriter.getSymbolRefAttr(printfFunc),
            {extractvalue(i8PtrTy, fmtCst, rewriter.getIndexArrayAttr(0))

[2019-10-21 18:55] joker-eph commented on #205
The LLVM IR principle (which we follow) is that between every pass the IR must be consistent. We can't necessarily have the IR in a "correct" state at every point inside a pass (Every LLVM pass does that). This is why the lowering pattern you are referring to was defined with the pass using it, and this pass was also doing more work to get down to LLVM dialect entirely. I don't think any MemRef wa

[2019-10-23 15:06] lucaciciriello opened #207 "Build error on macOS"
I got the following error:

fatal error: 'mlir/Analysis/CallInterfaces.h.inc' file not found

I'm building on macOS Catalina

In the attachment the complete reported error:
<img width="1676" alt="Screenshot 2019-10-23 at 17 04 32" src="https://user-images.githubusercontent.com/40060530/67407135-58413700-f5b7-11e9-83b9-9525edd884e4.png">

[2019-10-23 20:08] doru1004 commented on #205
Thanks for the answer! :)

My confusion stemmed from the fact that I was expecting each instruction that is emitted to be emitted with a valid type. In this case I was hoping that the llvm.extractvalue instruction will trigger the conversion of its input Memref type to an LLVM type.

That's right. The pass was indeed lowering too much. When following the tutorial I kind of took it apart a bit to s

[2019-10-23 21:19] River707 commented on #205
The conversion operates on operations topologically, meaning that the inputs to an operation should have already been converted before the operation is encountered.

Yes, if the input operations haven't been converted; you will need to explicitly handle them yourselves.

Without seeing the modifications it may be difficult to know what changes you have made and why it specifically isn't working. F

[2019-10-25 09:05] joker-eph commented on #207
Fixed in 1702105f97a4d9ea35d767b6fbd73f627172b801

[2019-10-25 09:05] #207 closed

[2019-10-25 15:50] bondhugula opened #210 "memref lowering: stack overflow due to alloca's for memref descriptors for calls inside a loop"
When lowering MLIR to LLVM, since memrefs are lowered through llvm structs that hold the descriptor info, the alloca's for these structs can exhaust stack space when there are calls with memref args inside a loop! Here's an example snippet:

-----------
[code]
------------

The call to foo will be preceded by three alloca's corresponding to the memrefs passed. The lowered LLVM dialect snippet is b

[2019-10-28 10:52] denis0x0D commented on #173
@antiagainst @MaheshRavishankar seems like some bit instructions still not implemented, can you please share, is anyone working on it?

[2019-10-28 12:45] sherhut opened #213 "Implement live variable analysis"
It would be great to have a shared implementation for live variable analysis in core that could be used by various resource allocation schemes in tensorflow and others.

[2019-10-28 13:27] antiagainst commented on #173
I think no one is working on this right now. If you are interested please feel free to pick it up! Thank you very much! :)

[2019-10-28 14:18] denis0x0D commented on #173
@antiagainst thanks!

[2019-10-28 16:40] bondhugula commented on #147
@antiagainst Anything further on this? Thanks!

[2019-10-29 21:37] antiagainst commented on #147
Hey @bondhugula, sorry wasn't working on this because of other priorities. Will get back to this soon.

[2019-10-30 08:39] joker-eph commented on #199
If you have a use-case for it, what about adding a flag/option on the GreedyPatternRewriteDriver to not fold?

[2019-10-30 10:06] bondhugula commented on #199
We actually want it to fold (and eliminate dead ops), but only in conjunction with the matched patterns. The issue is that it adds *all* ops (under the supplied op) to the worklist irrespective of whether they'll be matched.

[2019-10-31 16:57] antiagainst commented on #173
Hi @denis0x0D, what you proposed looks good to me.

I guess at some point we need to go over the scheme we used for various ops' custom assembly forms. There are inconsistency here (regarding trailing types, punctuation usage, etc.) and there and it's better to come up with a clear plan. It's good that we embed each op's ebnf in the doc so it's clear documented as of today at least. :)

[2019-10-31 17:42] MaheshRavishankar commented on #173
Agreed. Except the op name should be "ShiftRightLogical" . The auto-gen-ed serialization/deserialization relies on this being the case. See here : https://github.com/tensorflow/mlir/blob/b3f8dd39a739d1652524188628a07901eccb8676/include/mlir/Dialect/SPIRV/SPIRVBase.td#L1253

[2019-10-31 17:50] denis0x0D commented on #173
@antiagainst @MaheshRavishankar thanks!
@MaheshRavishankar you are right, the right name is "ShiftRightLogical" :)
Thanks!

[2019-11-02 16:17] denis0x0D commented on #173
@antiagainst @MaheshRavishankar it seems like I've missed some bit ops with shader capability:
`OpBitFieldSExtract, OpBitFieldInsert, OpBitFieldUExtract`
Now I'm wondering about ebnf for this ops, for example for` OpBitFieldInsert`; for this op `result id`, `base id` and` insert id` must have the same type, but `offset` and` insert` must be an any integer scalar type, in this case could I put rest

[2019-11-04 07:49] bondhugula opened #220 "ODS: OptionalAttr doesn't lead to generation of builder method with attribute arguments unspecified"
I noticed that using OptionalAttr doesn't generate a builder method version that doesn't have the attribute as an argument. I also noticed this comment:
https://github.com/tensorflow/mlir/blob/a4b11eba615c87b9253f61d9b66f02839490e12b/include/mlir/Dialect/Linalg/IR/LinalgLibraryOps.td#L240

Is this still a TODO?

[2019-11-04 15:50] lorrden opened #221 "Documentation generator not compatible with Kramdown"
The kramdown (Ruby markdown parser) does not parse tables which have no preceding blank line as it is based on php markdown syntax.

It would be nice if additional linefeeds are emitted in the md output from mlir-tablegen. This is a problem at the moment only when emitting the attribute table.

[2019-11-04 17:40] antiagainst commented on #220
Yes this is a missing feature not yet supported.

[2019-11-04 17:47] antiagainst commented on #173
Hey @denis0x0D, the spec does not have that requirement (that offset and count should be the same integer type) so I'd prefer we don't in the dialect too. Using different integer signedness in SPIR-V is quite common so we might actually see such a case. Besides having an additional type parameter is just trivial amount of additional parsing work. WDYT? :)

[2019-11-04 17:56] denis0x0D commented on #173
@antiagainst thanks for the answer, sounds good to me, to have an additional type parameter for countID.
Thanks!

[2019-11-04 21:19] liwchang opened #222 "Bad affine loop fusion"
Build 11/04, Windows.
A trivial matrix multiplication and add can go wrong in affine loop fusion.
Two test cases, mul_add_0, and mul_add_1.
mul_add_0 generated a completely wrong code,
while mul_add_1 just didn't fuse at all, though it should.

Using mlir-opt.exe %s -affine-loop-fusion -split-input-file

[code]

[code]

[2019-11-05 17:32] #221 closed

[2019-11-06 16:22] antiagainst opened #224 "[spirv] Change spv.module custom assembly"
Right now the `arguments` in `spv.module` is defined as

https://github.com/tensorflow/mlir/blob/199f41354c2998627f592a969bc5b31b5227a800/include/mlir/Dialect/SPIRV/SPIRVStructureOps.td#L312-L318

Actually for `$capabilities` we should be able to use `TypedArrayAttr<SPV_CapabilityAttr>` as the kind but still parsing and printing the symbols for those capability numbers in custom assembly form.

Ad

[2019-11-07 18:37] #201 closed

[2019-11-07 19:58] bondhugula commented on #147
Okay, I couldn't wait for this :) I've submitted #225  When yours is committed, we can drop all the getAttr..Name() methods that were added to the td files.

[2019-11-09 17:57] aaronsm opened #229 "Toyc examples segfault on OS X when file not found"
I just cloned all the necessary git repos and tried the toy tutorial on OS X. It's easy to make the examples segfault when the file is not found.

[toyc-ch2/ch3/ch4/ch5]
$ ./toyc-ch2 -emit=mlir foo
Could not open input file: No such file or directory
Segmentation fault: 11

[toyc-ch6/ch7]
$ ./toyc-ch6 foo
Could not open input file: No such file or directory
Segmentation fault: 11

[2019-11-10 05:31] #229 closed

[2019-11-10 05:44] joker-eph commented on #229
Thanks for the report, this should be fixed now!

[2019-11-10 15:16] aaronsm opened #230 "Assertion failed: (packedType && "type conversion failed, such operation should not " "have been matched"), function matchAndRewrite"
I'm playing around with mlir-opt lowering to LLVM IR and hit this assertion failure. I'm pretty sure lowering this example is not supposed to work (returning a tensor is not supported?) but I wasn't expecting it to crash.

Here's what I did. I coped the first test case into it's own file and tried to lower to LLVM IR.
htps://github.com/tensorflow/mlir/blob/master/test/Quantizer/matmul.mlir

func @

[2019-11-11 04:28] bondhugula opened #231 "linalg_integration_test.mlir uses undefined attribute"
https://github.com/tensorflow/mlir/blob/c902682b0ee21c7b91228df2bfe252ee14bc26ae/test/mlir-cpu-runner/linalg_integration_test.mlir#L17

is adding an alignment attribute that is not defined on the op:
https://github.com/tensorflow/mlir/blob/c902682b0ee21c7b91228df2bfe252ee14bc26ae/include/mlir/Dialect/StandardOps/Ops.td#L170

Adding the attribute to the op (such as with 'Confined<OptionalAttr<I32At

[2019-11-11 04:57] bondhugula commented on #231
The above was from a release build - so scratch that. The only issue is the missing attribute on the op here - adding it would help with verification and preserving during transformation and lowering.

[2019-11-11 07:21] bondhugula opened #232 "Build warnings"
Four new build warnings here (with clang).

-------------------------
[code]

[2019-11-11 15:43] denis0x0D commented on #165
@antiagainst @MaheshRavishankar does anyone work on "converting chained spv.Bitcast ops into one"?

[2019-11-11 15:55] antiagainst commented on #165
Nope. Feel free to pick it up if you are interested! Thanks! :)

[2019-11-12 16:40] jpienaar opened #234 "Improve syntax highlighting on github"
Currently the grammar used for syntax highlighting on github (utils/textmate/mlir.json) is very simple. In particular it skips almost any custom form, doesn't handle snippets too well as it attempts to find functions first, etc.. Extending it to support common custom forms and provide better support.

The answer may be to just redo it completely :)

[2019-11-12 16:42] tetuante commented on #189
Thank you very much for all the hints and sorry for my delaying in coming back to the issue.
Indeed, --affine-lower-vector-transfers works for me in this context (with the patch)

Without the patch, there is still an issue when the memref (a subview in my example) is in a loop nest:  if the vector_transfer uses a memref allocated outside the loop nest, everything works. But, if the allocation happ

[2019-11-12 18:06] bhack commented on #140
Some related news:
https://hacks.mozilla.org/2019/11/announcing-the-bytecode-alliance/

[2019-11-13 22:05] ftynse commented on #222
It would be great if you could provide more details on what is "completely wrong".

With 6bb76f3, I got the following for the first example

[code]

This indeed does not look correct. In particular, there is a read from `%0` that was never written to. I suppose this value exists as a temporary that the fusion pass intended to use but did not update properly. @bondhugula, @andydavis1 can you take a

[2019-11-14 01:38] andydavis1 commented on #222
Thanks for pointing this out. I'm investigating...

[2019-11-14 02:06] bondhugula commented on #222
Thanks for the report. The output for the first case should have been:
[code]

This would eliminate the intermediate matrix %0 entirely (turning it into a single elt memref).

[2019-11-14 13:27] dfki-mako commented on #213
We would like to implement such an analysis. Based on our insights into MLIR we propose the following high-level interface for this new analysis:
[code]
This interface should satisfy common use-cases like straight-forward register allocation.

[2019-11-14 15:58] bondhugula commented on #213
Looks good! For 'getLiveness(Value *value)', you could instead have a
[code]
to (1) avoid the situation where a Value isn't defined by an op (because it could also be a block argument) and (2) to allow computing this information at op's that have zero results.

[2019-11-14 17:45] River707 commented on #213
@bondhugula What benefit does computing on an Operation with zero results have?

@dfki-mako Without looking at how you intend to implement it(and/or use it) I don't have too many comments at this point, but the main one is that I don't understand the `endOfLife` method. What do you mean by "last operation"? How do you intend to handle control flow graphs where a value doesn't have a single user th

[2019-11-14 19:12] bondhugula commented on #213
IIUC, the getLiveness method is providing liveness info (live-in's and live-out's) at that program point -- as such, it makes sense for any operation (within the op regions that the Liveness instance was constructed on).

~ Uday

[2019-11-14 19:24] River707 commented on #213
Ohh sorry, I missed the comment. At least for register allocation, you want the ranges of the program that a value is live and don't necessarily work at a per-op level.

[2019-11-15 09:43] dfki-mako commented on #213
@bondhugula, @River707 Thank you for your feedback on our first proposal.

@bondhugula `getLifenessAtOp(Operation*)` could be implemented in favor of the suggested `getLifeness(Value*).  As you mentioned, `getLifeness(Value*)` covers cases where an operation has no result value.  This can (depending on the use case) lead to problems when querying liveness information at an operating level.  We ini

[2019-11-15 14:36] bondhugula commented on #213
Thanks, everything you suggest sounds good to me. My comment on liveness at a point was due to the comment on your method LivenessValueInfo::live(). Clearly, live ranges are what you may first/usually need for buffer assignment, etc., and so you could just go with an interface for that.

[2019-11-15 17:06] #232 closed

[2019-11-15 20:38] zvookin opened #239 "An MLIR equivalent to llvm-config would be useful."
LLVM provides the ```llvm-config``` which is very useful for both humans and automated configuration systems to query the properties of an LLVM installation. The command helps to find compilation options, library and headers locations, as well as e.g. CMake module files. It would be useful if the functionality provided by ```llvm-config``` were provided for all tightly coupled projects in LLVM, su

[2019-11-15 22:08] joker-eph commented on #239
Can you clarify what would an `mlir-config` provide on top of `llvm-config`?
My (naive) view is that LLVM projects comes with a fairly monolithic installation with LLVM and so the tool already provide compilation flags (options and paths) you need.

[2019-11-15 22:11] joker-eph commented on #239
LLVM seems to also consider dropping `llvm-config`: https://lists.llvm.org/pipermail/llvm-dev/2019-October/136314.html

(I don't know how concrete is this thought)

[2019-11-15 22:44] zvookin commented on #239
I'm looking to use MLIR in Halide and I need to find the libraries necessary to link it in. The ```llvm-config``` command has been a very productive way to do this for LLVM. At one point I looked at incorporating clang functionality in Halide and gave up because finding its libraries and compilation options was so fragile that it was unshippable.

Personally I find depending on cmake *only* to be

[2019-11-15 22:48] joker-eph commented on #239
We will standardize on whatever mechanism LLVM would provide for its subprojects: if you saw things that made it harder to work with clang, that can make it a motivating case for improving LLVM (feel free to chime in the thread I linked above)

[2019-11-16 01:11] lucyrfox opened #240 "Tutorial: missing tests"
There are a few tests which are referenced in the tutorial documents but which don't seem to exist in the Test directory (or any of its subdirectories):
- Ch3: transpose_transpose.toy
- Ch3: trivialReshape.toy
- Ch5: lowering.toy
It would be good to add these for completeness.

[2019-11-16 01:15] andydavis1 commented on #222
I have a fix on the way.

[2019-11-16 01:25] lucyrfox opened #241 "Examples of operations with source location, successor blocks?"
[Chapter 2 of the tutorial](https://github.com/tensorflow/mlir/blob/master/g3doc/Tutorials/Toy/Ch-2.md#interfacing-with-mlir) breaks down the anatomy of an example operation. The tutorial then discusses operations more generically, listing 7 different pieces. However, only 5 of these are captured by the example, the missing ones being the source location and the list of successor blocks.

Could we

[2019-11-16 16:30] jpienaar commented on #241
SG for location. At the bottom of chapter 2 the output example does show locations. All ops have locations but the mlir-opt tool doesn't print them out by default (would be good to mention that in the tutorial if missing, I see the flag being referenced in the tutorial). An operation doesn't have a location if created with an UnknownLoc and the only reason I can think of would be if there is no re

[2019-11-16 16:50] jpienaar commented on #205
@doru1004 is there perhaps more information you could add here? Perhaps a branch in your fork that you've been making changes on to demonstrate the failure?

[2019-11-16 17:05] nicolasvasilache commented on #231
Can you please try again?
The CL that adds alignment to alloc should help.

On Sat, Nov 16, 2019 at 11:45 AM jpienaar <notifications@github.com> wrote:

--
N

[2019-11-17 16:44] bondhugula opened #242 "No transformation / debug output from -affine-vectorize"
I notice that for this simple loop nest, -affine-vectorize does nothing, and emits nothing with its -debug-only= option either. I didn't dig any deeper, but at least the second part is an issue. (It probably only tries innermost loop vectorization, but that should be clarified on the top-level comment on Vectorize.cpp.)

$ cat foo.mlir

[code]

Same output with

[code]

On a minor note, s/early-ve

[2019-11-17 16:47] bondhugula commented on #231
I now notice that the attribute has been added on AllocOp.

[2019-11-17 16:47] #231 closed

[2019-11-18 09:33] ftynse commented on #230
Thanks for the report. This is due to code motion in the standard-to-llvm conversion that dropped the check before the assertion. I have a fix coming.

Please note that you cannot lower just anything to the LLVM dialect using "-lower-to-llvm", it only works with a subset of the standard dialect (scalar and vector operations).

[2019-11-18 12:38] denis0x0D commented on #165
@antiagainst @MaheshRavishankar does anyone work on "turning spv.LogicalNot (spv.IEqual ...) into spv.INotEqual, etc." ?

[2019-11-18 14:10] bondhugula commented on #242
The issue here is that that the cl flag(s) involved (clVirtualVectorSize) don't have a default value/initialization, nor are they mandatory; as a result, nothing happens by default silently.

[2019-11-18 17:10] antiagainst commented on #165
I don't think so. Feel free to take it. Thanks! :)

[2019-11-18 19:21] andydavis1 commented on #222
OK. submitted a fix. I'll close this bug for now. Please let me know if you see any more issues...

[2019-11-18 19:21] #222 closed

[2019-11-18 19:26] #230 closed

[2019-11-18 23:52] bhack opened #248 "Document MLIR adoption"
Can we maintain an .md or a doc table about MLIR adoption in projects with i.e. a status (planned, in-progress, complete) or target dates if known/declared.
The same could be interesting for dialects.

[2019-11-19 00:31] joker-eph commented on #248
Thanks for filing this issue: this is actually something we're aware of and I'm actively working on this (just juggling with actually moving the code to LLVM).

I expect some update on this next month.

[2019-11-19 18:50] lucyrfox commented on #241
SG. I'll make this change.

Is this documented somewhere that I can link to in the tutorial? Given that this is the first introduction to mlir-opt.

Which flag do you mean here?

Agreed; for successor blocks I think it will be sufficient just to add this information. The location bit is what I think is most confusing as it is right now.

[2019-11-20 12:41] bondhugula opened #249 "subview op of mixed shape"
Subview op's with mixed shape (static and dynamic dimensions) currently parse and verify correctly. This is inconsistent given the number of size values that are taken as input. (In the example below, the size of the 2nd dimension of the subview would be undefined -- 8 as per the shape but %arg as per the op that creates the memref).

[code]

[2019-11-20 16:16] doru1004 commented on #205
@jpienaar I managed to fix the error by converting my tensors into memrefs. The way I did this was by using the toy::CastOp.

Is there a way to do this cast without the toy::CastOp? I used a piece of code which was in the old tutorial:

[code]

 to achieve this but now there seems to be a new way to do this type of conversion. How would I go about controlling/triggering this conversion? Converting

[2019-11-20 20:22] MaheshRavishankar commented on #249
Thanks Uday. There is a change to the SubViewOp specification (that should land in github soon). Though that change still missed this case. Will fix this. Thanks!

[2019-11-21 00:01] MaheshRavishankar commented on #249
This should be fixed by 750617c8d1faaba503b3f1c288d305ae7525c035

[2019-11-21 02:59] bondhugula opened #254 "Build failure at OpInterfaces.h"
With the current LLVM trunk ee9b49eef04518123ec04372b7b4bfc337c39dc9 and mlir trunk c2fea21ce08ffdf3a4d9afa28ca4dbe6e6974605, the build fails. (It's missing an include of SmallVector.h.)

[code]

[2019-11-21 12:46] #254 closed

[2019-11-21 21:43] bhack commented on #248
Just a collateral repo https://github.com/basicmi/AI-Chip :smile:

[2019-11-21 22:39] jpienaar commented on #241
In the tools help it is (e.g., mlir-opt --help), but I don't think it has separate page.

mlir-print-debuginfo

[2019-11-22 14:45] lucaciciriello opened #258 "Build error"
On macOS Catalina (Xcode 11.2.1), I got the following error:

[1511/2284] Building CXX object projects/mlir/lib/Target/CMakeFiles/MLIRTargetLLVMIR.dir/LLVMIR/ConvertFromLLVMIR.cpp.o
FAILED: projects/mlir/lib/Target/CMakeFiles/MLIRTargetLLVMIR.dir/LLVMIR/ConvertFromLLVMIR.cpp.o
/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/c++  -DBUILD_EXAMPLES -DGTEST_HAS_R

[2019-11-24 00:07] joker-eph commented on #258
Seems fixed with recent changes in our CMake dependence tree, let me know if you still see it

[2019-11-24 00:07] #258 closed

[2019-11-24 11:28] bondhugula opened #264 "Build failure"
Build fails on the trunk (c3ae3aee69e97211277e50ef68c5a5ac192da9ca).

[code]

[2019-11-24 11:31] bondhugula commented on #264
The culprit commit is actually this one:

[code]

[2019-11-24 20:18] joker-eph commented on #264
You need to `git pull` LLVM itself.
Please re-open if you still see the failure.

[2019-11-24 20:18] #264 closed

[2019-11-25 06:15] lucaciciriello commented on #258
Yes, I confirm that this issue has been fixed

[2019-11-26 00:53] MaheshRavishankar opened #269 "[spirv] Running canonicalize on spirv-module leads to an assertion failure"
Running canonicalization on this module leads to an assertion failure

[code]

I get the following assert message

[code]

[2019-11-26 09:41] denis0x0D commented on #269
@MaheshRavishankar thanks for report, this is looks like my fault, I'll take it in couple of hours.

[2019-11-26 11:49] denis0x0D commented on #269
@MaheshRavishankar can you please provide the flags with which the error appears?
I just cannot reproduce it on my machine and mlir on master with flags:
[code]

By the way, it seems like only few ops from SPIR-V dialect have canonicalizer:
`spv.AccessChain, spv.Bitcast, spv.selection, spv.LogicalNot `
and it does not look like this example contains those ops.
Thanks.

[2019-11-26 13:50] nicolasvasilache opened #270 "[Linalg] Change attribute n_loop_types to iterator_types."
PR 5614db039b28026b5fe38aa96a21c4e6835d352b introduces the attributes "indexing_maps" and "iterator_types" in the vector.contraction op.

The goal is to unify this with linalg.generic and linalg.indexed_generic.

Linalg is still using an older, more rigid, encoding that just specifies the [*number* of loops](https://github.com/tensorflow/mlir/blob/master/include/mlir/Dialect/Linalg/IR/LinalgLibrar

[2019-11-26 13:54] nicolasvasilache opened #271 "[Linalg] Add permutation information to tiling"
Once #270 is landed, we can add an optional permutation map to declarative tiling transformations.

There is a C++ component and a Tablegen component to this PR.

[2019-11-26 13:56] nicolasvasilache opened #272 "[Linalg] Add a Linalg iterator permutation transformation."
Once #270 is landed, we can add a standalone iterator permutation transformation to Linalg.

This transformation should be very simple to write and should just compose a permutation map the with the maps in the "indexing_maps" attribute.

There is a C++ component and a Tablegen component (to make the transformation into a pattern) to this PR.

[2019-11-26 14:57] nicolasvasilache opened #273 "[VectorOps] Implement vector.insertelement conversion to LLVM"
Placeholder

[2019-11-26 15:00] clementval opened #274 "Failed CI commit merged to master"
Seems like the last few commits merged to the master branch today (Nov 25) did not succeed the CI but where merged anyway. Is that expected? I see some tests failing as well on my machine (macOS) with the latest master.

![Screen Shot 2019-11-26 at 10 00 57 AM](https://user-images.githubusercontent.com/1507158/69645142-affa1480-1033-11ea-8129-e2bf22e5468b.png)

[2019-11-26 16:18] nicolasvasilache commented on #274
Some path seems to have changed, looking.
Can you confirm that you see 2 errors related to the mlir-cpu-runner tests?

[2019-11-26 17:22] clementval commented on #274
@nicolasvasilache Yes just modifying the path to the libs fixes the two tests (remove the `mlir-cpu-runner` directory in the RUN line for the `mlir-cpu-runner/utils.mlir` and `mlir-cpu-runner/linalg_integration_test.mlir` tests.

[2019-11-26 17:33] nicolasvasilache commented on #274
Thanks, the problem here is the mismatch between the path that Google
internal tools use and OSS.
I reverted the offending PR in 620a16c00ee3b7eae85769a296f29824347ab577
The test are back to green.

On Tue, Nov 26, 2019 at 12:22 PM Valentin Clement (バレンタイン クレメン) <
notifications@github.com> wrote:

--
N

[2019-11-26 19:28] clementval commented on #274
@nicolasvasilache Thanks for the quick fix!

[2019-11-26 19:28] #274 closed

[2019-11-26 20:05] ftynse opened #276 "[LLVM] Implement missing LLVM IR instructions"
The following LLVM IR instructions are currently not modeled by the LLVM dialect. Each of this is a great starter bug to implement a new Op in MLIR.

- [ ] switch
- [ ] indirectbr
- [ ] invoke
- [ ] callbr
- [ ] resume
- [ ] catchswitch
- [ ] catchret
- [ ] cleanupret
- [ ] fence
- [ ] cmpxchg
- [ ] atomicrmw
- [ ] freeze
- [ ] va_arg
- [ ] landingpad
- [ ] catchpad
- [ ] cleanuppad

[2019-11-26 20:34] ftynse opened #277 "[LLVM] Support linkage types in the LLVM dialect"
See https://llvm.org/docs/LangRef.html#linkage-types for description.
This is necessary for GPU modeling and useful for completeness in general.

- [x] introduce a linkage attribute
- [x] support this attribute on globals
- [x] support this attribute on functions

[2019-11-27 03:09] nicolasvasilache opened #278 "[Linalg] Implement conversion of Linalg to affine loops"
Once the supporting commit lands (I'll update this message when it does), we can finally implement lowering of Linalg to affine loops and affine load/store.

[2019-11-27 06:21] bondhugula commented on #232
With trunk 9723567750f7c5917ede700a05df6106a38617f3 and GCC 9.2:

[code]

[2019-11-27 12:41] jsetoain commented on #270
FYI: Working on this!

[2019-11-27 17:50] uenoku commented on #276
Hi, I'm interested in this. May I work on some of these instructions?

[2019-11-27 18:08] MaheshRavishankar commented on #269
Thanks @denis0x0D . I just ran using `-canonicalize` flag.
I haven't triaged it at all. So it might not be related to spv canonicalizations specifically

[2019-11-27 18:33] denis0x0D commented on #269
@MaheshRavishankar oh, now I see the same, seems like a check for null attribute is needed in `fold` for CompositeExtract.
[code]

https://github.com/tensorflow/mlir/blob/a1e4422bf34c74b682b5f63465693974d7aa8028/lib/Dialect/SPIRV/SPIRVOps.cpp#L1045
Thanks!

[2019-11-27 18:42] ftynse commented on #276
You are very welcome to! Consider mentioning here which ones do you work on, in case somebody else wants to take the others.

include/Dialect/LLVMIR/LLVMOps.td has definitions of existing ops and should be fine as a template for more ops. Feel free to ping me as on the pull request when ready. Don't hesitate to reach out to the mailing list if you have questions.

[2019-11-27 18:51] uenoku commented on #276
Thanks. Therefore, I'd like to work on switch instruction first.

[2019-11-27 20:38] denis0x0D commented on #269
By the way, I'm not super familiar about how folding works in MLIR, and it would be good if I can take this bug and fix tomorrow, if it can wait, thanks!

[2019-11-27 21:27] antiagainst commented on #269
Thanks for the investigation, @denis0x0D! Yes this can wait so if you'd like to take a look and fix it, that'd be awesome! :)

[2019-11-27 21:27] antiagainst commented on #269
Thanks for the investigation, @denis0x0D! Yes this can wait so if you'd like to take a look and fix it, that'd be awesome! :)

[2019-11-28 01:44] nicolasvasilache commented on #278
https://github.com/tensorflow/mlir/commit/a1e4422bf34c74b682b5f63465693974d7aa8028
implements the proper machinery.

The place that has to be implemented for AffineForOp is centered around this LoopNestBuilder: https://github.com/tensorflow/mlir/blob/master/lib/Dialect/Linalg/Transforms/LinalgToLoops.cpp#L438

@jsetoain @tetuante

[2019-12-02 07:08] joker-eph commented on #232
Seems like new instances different from the one that were reported earlier in this bug? Feel free to file a new bug or send a PR.

[2019-12-02 07:48] bondhugula commented on #232
That's right, but this has become a recurring issue. Can the build checks fail for warnings like these (including on release builds) and block a merge? It appears to be too much overhead creating and managing issues for these warnings - these also often get fixed before the issues get looked at.

[2019-12-02 11:56] bondhugula commented on #276
It would be good to add some of the useful LLVM intrinsics to this list. llvm.prefetch is already done by this PR: https://github.com/tensorflow/mlir/pull/225

[2019-12-02 12:25] ftynse commented on #276
Define "useful". If we count extensions like NVVM, there are literally thousands of intrinsics...

Fortunately, they are defined in Tablegen files unlike instructions, so my general thinking is that we should auto-generate all of them. I have a prototype dusting in the corner if somebody is willing to pick it up.

[2019-12-02 12:39] bondhugula commented on #276
It's a bit hard to define, but what I meant was "more commonly used" or "of imminent use" based on what we hear on the MLIR mailing list / design meetings. It did appear to me that a number of things in the list you have above aren't really of immediate use. Eg: landingpad, freeze, atomic memory ordering - is there a reason to have these before things like llvm.sqrt, llvm.powi, llvm.memcpy? The qu

[2019-12-02 12:43] antiagainst commented on #276
+1 to autogen the .td file. FWIW, that's the approach we are using for the SPIR-V dialect. We have a [gen_spirv_dialect.py](https://github.com/tensorflow/mlir/tree/master/utils/spirv) script that downloads both the [HTML](https://www.khronos.org/registry/spir-v/specs/unified1/SPIRV.html) and [JSON](https://raw.githubusercontent.com/KhronosGroup/SPIRV-Headers/master/include/spirv/unified1/spirv.cor

[2019-12-02 13:20] ftynse commented on #276
I don't have data on what are the most commonly used ones, and it may depend on use cases :) Therefore, I wouldn't make a judgement call about usefulness here. If there are imminent users, they are free to add intrinsics on per-need basis. This has been the case for the LLVM dialect in the past, but as we the project grows and moves to LLVM, we aim to be feature-complete in modeling core LLVM IR.

[2019-12-02 15:48] nicolasvasilache commented on #232
Sounds like in such instances, sending a quick NFC PR would be faster?

On Mon, Dec 2, 2019 at 2:48 AM Uday Bondhugula <notifications@github.com>
wrote:

--
N

[2019-12-02 15:51] nicolasvasilache commented on #232
Push blocking on warnings does not sound reasonable IMO before MLIR moves
to LLVM.
Also, not all compilers report the same warnings (even across versions of
the same compiler).

Once MLIR is in LLVM and everyone uses phabricator + cmake, build warnings
will become much more visible and easier to knock off quickly.

On Mon, Dec 2, 2019 at 10:48 AM Nicolas Vasilache <ntv@google.com> wrote:

--
N

[2019-12-02 17:05] jpienaar commented on #205
Hey, have you tried tensor_load/tensor_store ops here? That seems to do what you want.

[2019-12-02 17:25] #270 closed

[2019-12-02 20:35] antiagainst commented on #269
Fixed via #281. Thanks Denis!

[2019-12-02 20:35] #269 closed

[2019-12-03 07:53] bondhugula opened #286 "View op test case invalid syntax"
The syntax here appears to be messed up.
https://github.com/tensorflow/mlir/blob/b7e6270e6a06fb67b5215e1647774143abaf506c/test/Dialect/Linalg/loops.mlir#L19

From ops.td, the view op takes the offset first followed by sizes (reproduced below), while the test case above passes sizes followed by offset. Not sure why the test case IR even verifies.
[code]

[2019-12-03 08:33] ftynse commented on #277
Added by b9f4472221ff4a3c610756f9d0123785e1ccedc7, ff338ae017fe26b06f0fe5cd669b621fdb9ff7ab

[2019-12-03 08:33] #277 closed

[2019-12-03 08:37] ftynse commented on #286
The parser seems to accept a list of offsets https://github.com/tensorflow/mlir/blob/master/lib/Dialect/StandardOps/Ops.cpp#L2332 and the verifier does not catch it.

[2019-12-03 09:24] bondhugula commented on #286
The number of 'sizes' is also one less!

[2019-12-03 09:31] ftynse commented on #286
This is deeper than I thought, in several ways. I have a pending fix for the ordering problem, and there were incorrect assumptions in other places.

[2019-12-03 09:35] ftynse commented on #286
I don't follow this. The resulting type is `memref<?x?xf32, ...>`, which has two dynamic sizes and we pass two values as sizes.

[2019-12-03 09:37] bondhugula commented on #286
Just FYI - my PR #253 fixes the loops.mlir file itself - it had been approved long ago (but not committed), and I discovered this bug when I tried to resolve conflicts there.

[2019-12-03 09:54] ftynse commented on #286
Thanks! There are more tests that need updating to fix this though. Your PR is currently blocked on internal integration due to test breakage, I pinged the relevant person.

[2019-12-03 10:03] bondhugula commented on #286
`%A = view %arg0[%M, %K][%c0] :` <-- only %c0 is being passed in as size.

[2019-12-03 10:13] andrew-wja opened #287 "LangRef is out of sync with the codebase"
I'm working on a backend for an external tool that generates MLIR in the generic textual form. I've been following the LangRef to see how this should be done, and I found a few trivial problems (fixed in https://github.com/tensorflow/mlir/pull/265). However, I've now run across some more serious differences that I don't feel comfortable changing/that might require attention from someone who is fam

[2019-12-03 10:48] ftynse commented on #286
Ah ok, I see. My interpretation is that the order of []-blocks is swapped. `[%M, %K]` are sizes `[%c0]` is the offset.

[2019-12-03 10:58] ftynse commented on #287
This sounds correct.

AFAIK, only the _entry_ block of the region can omit block label because one is not allowed to branch to it anyway. Do you have an example where it would work for other blocks? Otherwise, this should be fixed at the `region` definition level to something like `headless-block block* | block*`.

It is not, actually. `standard-type` should be split into `function-type` and the r

[2019-12-03 13:38] andrew-wja commented on #287
I updated the top post to clarify that the LangRef says regions may *not* be empty, and that blocks must *always* be labelled, sorry for the unclear language here! Agreed, something like `headless-block block* | block*` looks fine. The important thing (IMO) is to encode the "only the entry block" behaviour in the LangRef.

Thanks for the explanation! I will have a look at the actual parser code an

[2019-12-03 13:56] tetuante commented on #272
Working on it!

[2019-12-03 15:21] nicolasvasilache commented on #286
This was the old syntax, it was changed to be consistent with subview but
the parser/verifier were not hardened and tests not updated.
@Oleksandr Zinenko <ftynse@gmail.com> has a fix landing, thanks for
reporting!

On Tue, Dec 3, 2019, 5:48 AM ftynse <notifications@github.com> wrote:

[2019-12-03 15:25] ftynse commented on #286
Fixed in 721a07c

[2019-12-03 15:25] #286 closed

[2019-12-04 07:02] lucaciciriello opened #289 "Build Errors"
I got the following errors building MLIR on macOS Catalina

[1687/2294] Building CXX object projects/mlir/lib/Dialect/LLVMIR/CMakeFiles/MLIRROCDLIR.dir/IR/ROCDLDialect.cpp.o
FAILED: projects/mlir/lib/Dialect/LLVMIR/CMakeFiles/MLIRROCDLIR.dir/IR/ROCDLDialect.cpp.o
/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/c++  -DGTEST_HAS_RTTI=0 -D_DEBUG -D__STDC_CONSTAN

[2019-12-04 11:11] denis0x0D commented on #196
@antiagainst @MaheshRavishankar according to this task, `CompositeInsert` and `CompositeConstruct` are not implemented yet, does anyone work on adding this instructions or I can take it?
Thanks!

[2019-12-04 12:42] bondhugula opened #291 "mlir::replaceAllUsesExcept bug"
https://github.com/tensorflow/mlir/blob/7eba47b9073346bc84827ad744a275451c098fd8/lib/Transforms/Utils/LoopUtils.cpp#L979-L984

The above iteration would be incorrect and requires:
```orig->getUses()``` -> ```llvm::make_early_inc_range(orig->getUses())```
The use list nodes (IROperands) have next/prev links, and so this iteration would be chasing the wrong use list post a use update. It would miss

[2019-12-04 13:59] antiagainst commented on #196
SGTM. Please feel free to pick it up! Thanks! :)

[2019-12-04 14:30] ftynse commented on #291
Thanks for the report, a fix is coming.

[2019-12-04 15:21] antiagainst commented on #289
Hi @lucaciciriello, thanks for the report! However I wasn't able to reproduce this on my local machine with the current `master` branch. Could you provide more details on how you configure and build?

[2019-12-04 15:21] antiagainst commented on #289
(Sorry accidentally clicked the wrong button.)

[2019-12-04 15:42] #291 closed

[2019-12-04 17:04] lucaciciriello commented on #289
Hi, I always used this procedure to build on my local machine:

git clone https://github.com/llvm/llvm-project.git
git clone https://github.com/tensorflow/mlir llvm-project/llvm/projects/mlir
mkdir llvm-project/buildcd llvm-project/build
cmake -G Ninja ../llvm -DLLVM_BUILD_EXAMPLES=ON -DLLVM_TARGETS_TO_BUILD="host"
cmake --build .

Thanks

Il giorno mer 4 dic 2019 alle 16:21 Lei Zhang <notificatio

[2019-12-05 01:36] joker-eph commented on #289
Did you try from a fresh build directory (re-running cmake from an empty directory)?
Did you run specifically the failing target? (`ninja projects/mlir/lib/Dialect/LLVMIR/CMakeFiles/MLIRLLVMIR.dir/IR/LLVMDialect.cpp.o`).

This should always reproduce such failure deterministically.

[2019-12-05 02:04] antiagainst commented on #289
Thanks @joker-eph! Yes that revealed the issue. :) Fix coming.

[2019-12-05 07:36] #241 closed

[2019-12-05 07:45] #289 closed

[2019-12-05 08:23] lucaciciriello commented on #289
Thanks, now the build is ok

[2019-12-05 22:43] nicolasvasilache opened #295 "[Linalg] Expose subview promotion as a declarative pattern"

[2019-12-06 02:53] bondhugula opened #296 "Failing test pipeline-stats.mlir"
The following test fails on the trunk:
85cafc8a9c1b399ed5ad6c75b9f10893b47f2505

[code]

[2019-12-06 12:52] denis0x0D opened #298 "[spirv] Deserializer failed with "invalid iterator access""
Hi @antiagainst, I'm facing a fail for phi.mlir test after the https://github.com/tensorflow/mlir/commit/0a1828ef3125f1da581f03b3147018b1ccf13cc3

with error:
`mlir-translate: : Assertion `isHandleInSync() && "invalid iterator access!"' failed.`

seems like this should be reordered to avoid invalid iterator fail:
[code]

Thanks.

[2019-12-06 13:27] antiagainst commented on #298
Oh, good catch! Could you create a pull request for it? Thanks! :)

[2019-12-06 13:40] denis0x0D commented on #298
@antiagainst thanks for the answer, created https://github.com/tensorflow/mlir/pull/299

[2019-12-06 15:39] antiagainst commented on #298
Fixed via #299.

[2019-12-06 15:39] #298 closed

[2019-12-06 17:29] #296 closed

[2019-12-06 20:15] antiagainst opened #302 "[spirv] [tracking] SPIR-V dialect"
This is a tracking bug for completing the SPIR-V dialect. It will be periodically updated to provide the current status. Anybody interested in helping is very welcome to pick up tasks here! :)

### Core infrastructure
  - [x] Dialect skeleton (scaffolding, registration, etc.)
  - [x] Serialization & deserialization skeleton
  - [x] Script to query SPIR-V HLSL and JSON spec to auto-generate SPIR-V

[2019-12-06 20:18] antiagainst opened #303 "[spirv] [tracking] SPIR-V lowering"
This is a tracking bug for implementing lowering towards the SPIR-V dialect. It will be periodically updated to provide the current status. Anybody interested in helping is very welcome to pick up tasks here! :)

### Common utilities
- [ ] Target environment (version, extensions, capabilities)
- [x] Shader interface ABI (descriptor, storage class, etc.) and its lowering
- [x] Entry point ABI (disp

[2019-12-06 21:38] denis0x0D commented on #303
@antiagainst can you please clarify on "Layout decoration utilities", I thought they exist, do I miss something? Thanks.

[2019-12-06 22:37] antiagainst commented on #303
Oh, sorry I thought I ticked it... Fixed now.  Yes we can have a few more things to do there like supporting more rules but I don't think they are of high priority. They can be added later when needed. I would consider the general utility is there for this reason.

Also note that this is  a coarse summary right now and expect this to expand. :) We also plan to expand the SPIR-V.md doc to explain m

[2019-12-07 09:41] denis0x0D commented on #303
Thanks for mention this, I completely forget about different rules for layout, sorry about it.

Sounds great, I would like to help, if it possible. Thanks!

[2019-12-09 13:43] antiagainst commented on #303
Feel free to take whatever you are interested and not done. Please create an issue; I'll link it here. Thanks! :)

[2019-12-09 16:20] tetuante commented on #295
Working on it!

[2019-12-09 20:50] MaheshRavishankar commented on #303
Updated to add non-kernel functions and dynamic shapes as not completed items.
I plan to focus on dynamic shapes starting next year.

[2019-12-10 12:38] denis0x0D commented on #303
@MaheshRavishankar as far as I understood the lowering from std->spv mostly done by you, in this case can you please share the task which I can start from and you are not working on it? Thanks.

[2019-12-10 17:06] dcaballe opened #309 "llvm.noalias attribute on Memref arguments is not properly lowered"
We've been using 'llvm.noalias' attribute on Memrefs to propagate no-alias information of function arguments from nGraph to LLVM. This enabled some LLVM optimizations like vectorization and prevented unnecessary runtime checks on pointers, which were crucial for performance. Unfortunately, 'llvm.noalias' is not properly lowered after latest changes in Memref type. We are observing significant perf

[2019-12-10 17:49] MaheshRavishankar commented on #303
@denis0x0D : Thanks for picking up some of these tasks. For Std to SPIR-V all except call operation are fairly low hanging fruit. I am not working on this right now. Feel free to pick up any that make sense to you. Thanks!

[2019-12-10 19:27] denis0x0D commented on #303
@MaheshRavishankar nice, thanks!

[2019-12-11 05:02] bondhugula commented on #309
I think this is a crucial issue - thanks for bringing this up for discussion. I wish you actually had a test case upstream in test/Target/llvmir.mlir exercising propagation of llvm.noalias as you show below --- the issue would have been exposed earlier (while the test case was being updated).

Using the llvm noalias function parameter attribute was really a simple solution you were able to get awa

[2019-12-12 05:45] dcaballe commented on #309
Thanks, Uday! Yes, it was a temporary (but very convenient) solution :). Agree it's very unfortunate that we didn't have testing coverage for that in MLIR. This has become a blocker in terms of performance for us.

Your proposed approach sounds reasonable to me. I was wondering if we currently have support to represent metadata in LLVM-IR dialect in some way. Otherwise, translating "markers" (attr

[2019-12-12 12:54] bondhugula commented on #309
I don't think we have examples of representing metadata like LLVM scope domains in MLIR. Also, just translating op attributes to LLVM instruction metadata won't be sufficient here since the alias metadata would have out of line definitions as shown below that we may want to be printed in a similar way with the LLVM dialect.

[code]
In fact, if we want something that looks close to the printed LLVM

[2019-12-14 00:39] bondhugula opened #318 "Build errors - NVVMConversions, ROCDLConversions"
The trunk doesn't build (both release and debug builds).  (LLVM trunk: ed83942bc02501c62b55f77cba688263ea35221a )
[code]

[2019-12-14 01:58] sriongh commented on #318
I believe its due to the following llvm commit :
https://github.com/llvm/llvm-project/commit/5d986953c8b917bacfaa1f800fc1e242559f76be#diff-e4d14cf1af1adc71fd93a0f451d98f6a

I was able to resolve it by adding the following:

Adding #include "llvm/IR/IntrinsicsNVPTX.h" to lib/Target/LLVMIR/ConvertToNVVMIR.cpp
Adding #include "llvm/IR/IntrinsicsAMDGPU.h" to lib/Target/LLVMIR/ConvertToROCDLIR.cpp

[2019-12-14 09:53] WenleiBao commented on #318
It works. Thanks.

[2019-12-14 18:40] nicolasvasilache commented on #309
Hi Diego,

Here are a few of the tradeoffs involved here:

1. the current solution (passing pointers to normalized structs allocated locally) is really a temporary kludge because there is currently no good solution to laying out data properly in MLIR to interop with externally linked libraries. Others have pointed out that this is not a trivial problem and that doing it properly would involve taki

[2019-12-15 07:50] MingliSun opened #321 "can toy language generate cuda code?"
mlir-cuda-runner has a problem,and its three testes is not passed.How to generate cuda code in Toy language?

[2019-12-15 10:23] MingliSun opened #322 "Building error,"mlir/IR/OpBase.td"has a problem"
[46/450] Building AffineOps.cpp.inc...
FAILED: projects/mlir/include/mlir/Dialect/AffineOps/AffineOps.cpp.inc
cd /home/sun/llvm-project/build && /home/sun/llvm-project/build/bin/mlir-tblgen -gen-op-defs -I/home/sun/llvm-project/llvm/projects/mlir/include -I/home/sun/llvm-project/build/projects/mlir/include -I /home/sun/llvm-project/llvm/projects/mlir/include/mlir/Dialect/AffineOps -I /home/sun/llv

[2019-12-15 11:06] bondhugula commented on #322
Your LLVM copy is behind. These errors will go away on an update to the LLVM trunk. But you'll see other errors that will require this fix: https://github.com/tensorflow/mlir/issues/318

[2019-12-15 12:22] MingliSun opened #323 "three unexpected test failures:mlir-cuda-runner"
[1732/1733] Running the MLIR regression tests
FAIL: MLIR :: mlir-cuda-runner/all-reduce-op.mlir (362 of 364)
******************** TEST 'MLIR :: mlir-cuda-runner/all-reduce-op.mlir' FAILED ********************
Script:
--
: 'RUN: at line 1';   mlir-cuda-runner /home/sun/llvm-project/llvm/projects/mlir/test/mlir-cuda-runner/all-reduce-op.mlir --shared-libs=/home/sun/llvm-project/build/lib/libcuda-run

[2019-12-15 13:05] MingliSun commented on #322
thank you so much,it worked. And three unexpected test failures occured I post a new issue,"CUDA failed with 700 in StreamSync".I can't solve it.Looking forward to your relay in github.Thank you again.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Uday Bondhugula"<notifications@github.com&gt;;
发送时间:&nbsp;2019年12月15日(星期天) 晚上7:06
收件人:&nbsp;"tensorflow/mlir"<mlir@noreply.github.com

[2019-12-15 15:31] bondhugula opened #324 "Dialect conversion crash: unlinked block"
This should be reproducible with the trunk: f33f6e16ec430da0989d5e3a287bed1d6d55f73f. More inspection shows that we have a block with a null parent region. (This was likely exposed from the folding being done during dialect conversion.) Although -convert-linalg-to-llvm will go away, there is likely an underlying issue.

[code]

[code]

[2019-12-15 17:53] joker-eph commented on #321
There is no GPU path from Toy at the moment. If `mlir-cuda-runner` is failing in your environment, it would be unlikely a Toy path would work.

[2019-12-15 18:13] joker-eph commented on #321
did you get `mlir-cuda-runner` to work for you in the past? Do you know if this is a recent failure?
(it is working for us internally)

[2019-12-15 18:18] joker-eph commented on #318
We're integrating LLVM from upstream into our internal repository every day or so (sometimes LLVM is in a bad state and it takes multiple days), and we fix the APIs along the way.
Right now we're at 5bcd34a03ff343674c106b9a6a0406bf249b9b31
Please re-open if you still see the issue at that revision.

[2019-12-15 18:18] #318 closed

[2019-12-15 19:49] joker-eph commented on #323
Can you provide some information on your environment? Cuda version, driver version, which GPU are you using, OS, etc.

Thanks

[2019-12-16 02:20] MingliSun commented on #323
nvidia-smi shows that
Mon Dec 16 10:17:56 2019
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 430.50       Driver Version: 430.50       CUDA Version: 10.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|

[2019-12-16 06:07] tjingrant opened #325 "LLVMFuncOp::addEntryBlock is missing a definition."
Got a linking error for `LLVMFuncOp::addEntryBlock`, declared:
https://github.com/tensorflow/mlir/blob/f33f6e16ec430da0989d5e3a287bed1d6d55f73f/include/mlir/Dialect/LLVMIR/LLVMOps.td#L608

Looks like it's missing a definition, I will send in a patch soon.

[2019-12-16 10:01] wyzero opened #326 "Build failed when following the instructions in README.md"
env: gcc 9.2, llvm fd7dca98373cee7d379644d6d6e5c163d15107b7

build instructions:
[code]

Errors:
[1518/1734] Building CXX object projects/mlir/lib/Target/CMakeFiles/MLIRTargetNVVMIR.dir/LLVMIR/ConvertToNVVMIR.cpp.o
FAILED: projects/mlir/lib/Target/CMakeFiles/MLIRTargetNVVMIR.dir/LLVMIR/ConvertToNVVMIR.cpp.o
/state/usr/local/bin/g++  -DGTEST_HAS_RTTI=0 -D_DEBUG -D_GNU_SOURCE -D__STDC_CONSTANT_MACRO

[2019-12-16 13:50] joker-eph commented on #326
We're currently broken at the HEAD of LLVM, the current sync'd LLVM is 5bcd34a03ff343674c106b9a6a0406bf249b9b31

[2019-12-16 14:27] wyzero commented on #326
Thanks! It works now.

[2019-12-16 14:27] #326 closed

[2019-12-16 17:31] nicolasvasilache opened #327 "[VectorOps] Implement Lowering of Various Stride operations to LLVM"
This is a bigger task that is composed of the following smaller subtasks:
1. [ ]  lower vector.strided_slice to LLVM
2. [ ] lower vector.insert_strided_slice to LLVM
3. [ ] lower vector.extract_slices to LLVM (**via partial lowering to other vector and std ops**: we should not try to create a descriptor for a tuple<vector<> ... > at least not for now)
4. [ ] lower vector.insert_slices to LLVM (**v

[2019-12-16 17:32] nicolasvasilache commented on #327
Also + @tetuante and @AlexandreEichenberger in case of interest

[2019-12-16 20:29] ftynse commented on #323
700 is an illegal memory access...

[2019-12-17 09:46] marbre commented on #321
Are there any plans to add an GPU path tutorial/example? Maybe also in a similar fashion to https://github.com/bondhugula/mlir/blob/hop/g3doc/HighPerfCodeGen.md?

[2019-12-17 11:56] ftynse commented on #309
There was another person on the mailing list interested in mermef lowering schemes other than our current descriptors, so I think providing an easy way to plug into the std->llvm lowering is a reasonable short-term solution. This will allow one to implement the point 2. from Nicolas's comment above as a lowering option.

Note that the dialect conversion framework actually supports one-to-many rewr

[2019-12-17 12:02] ftynse commented on #321
GPU path is pretty much work-in-progress, there is no robust lowering from arbitrary loops to GPU kernels. We may consider it for an updated version of the tutorial in future.

[2019-12-17 17:56] River707 commented on #322
Closing this as it seems you have a separate issue now.

[2019-12-17 17:56] #322 closed

[2019-12-17 21:56] dcaballe commented on #309
Thank you all for the feedback! I think we all agree on that introducing an alias model is the long-term solution, also regardless of this particular issue. Let me investigate a bit more how difficult introducing custom memref lowering schemes would be.

[2019-12-17 22:24] ftynse commented on #309
https://github.com/tensorflow/mlir/commit/291a309d7164d9d38a8cc11cfdf88ca2ff709da0 implemented a separation between memory-related conversion patterns and the remaining patterns. From there, it should suffice to derive LLVMTypeConverter, override its convertType() to lower MemRefType differently while deferring to the base class for the other types, and provide the lowering patterns for std operat

[2019-12-18 06:16] joker-eph commented on #309
On Thu, Dec 12, 2019 at 1:54 PM Uday Bondhugula <notifications@github.com>
wrote:

Using affine maps to represent a list of integer seems quite like a big
hammer to me, it isn't clear why we would do this instead of using
attributes for example.
But beyond this: in LLVM the aliasing scope and domains aren't "integer",
they are just unique abstract entities and you don't manipulate domain with
a nu

[2019-12-19 20:16] #325 closed

[2019-12-20 05:05] shraiysh commented on #276
Hi, I would like to take up indirectbr as my first issue.

[2019-12-21 07:14] bondhugula opened #334 "parser crash: custom op asm parser - parseRegion"
This should be reproducible on the trunk and is due to the handling post the missing type on the block argument being passed.

[code]

$ mlir-opt crash.mlir

[code]

[2019-12-23 23:27] dcaballe commented on #309
I implemented my own LLVMTypeConverter with a custom lowering for MemRef type. However, that was not enough since Std-to-LLVM conversion uses MemRefDescriptor class all over the place, which assumes that MemRef type is lowered to the struct descriptor and generates the corresponding insertion and extraction operations to/from the struct.

To overcome this issue, I introduced some changes to be abl

[2019-12-24 09:39] ftynse commented on #309
That's why I separated the memref-related patterns into a separate `populate*` function. My suggestion was to

that is, implement _new_ patterns that are aware of a different lowering scheme and use them instead of the existing ones. A different lowering pattern indeed removes your problem with ABI requirements in function signature. I think using different patterns for different lowering schemes

[2019-12-24 18:53] dcaballe commented on #309
Sorry, I saw this comment after replying to the PR.

Basically, what I said in the PR. Of course we can always create our own LLVM lowering but that has a high maintainability and code duplication cost. A custom LLVM lowering won't have control on the Std ops reaching the lowering so we would have to be catching up with upstream every time something changes in memref-related ops in Std dialect or

[2019-12-26 11:24] ftynse commented on #309
LLVM lowering isn't a monolithic pass and it shouldn't be, so I would argue you are not creating an entirely new lowering, just changing the part that you want to be handled differently. As for the duplication cost, given how different is the lowering scheme, how much code would be actually duplicated? Most of the code in the current patterns is handling dynamic sizes and strides and it's essentia

[2020-01-02 11:42] marbre commented on #276
Is this issue still up to date? So far it was at least not transferred to [LLVM bug tracker](https://bugs.llvm.org/buglist.cgi?keywords=beginner%2C%20&keywords_type=allwords&list_id=176893&product=MLIR&query_format=advanced&resolution=---), as mentioned in [docs](https://mlir.llvm.org/getting_started/Contributing/).

[2020-01-02 12:29] ftynse commented on #276
We have not migrated issues (yet).

AFAIK, there's ongoing work on `switch`, `invoke` and `landingpad`.

On Thu, Jan 2, 2020 at 12:42 PM Marius Brehler <notifications@github.com>
wrote:

--
Alex

[2020-01-02 12:39] denis0x0D commented on #303
@antiagainst @MaheshRavishankar sorry for delay, is it ok if I'll take some bit and cast op lowering from std to spv? Thanks.

[2020-01-02 12:47] antiagainst commented on #303
Sure, please go ahead!

[2020-01-02 18:25] nicolasvasilache commented on #295
Done.

[2020-01-02 18:25] #295 closed

[2020-01-02 18:25] nicolasvasilache commented on #278
Done in https://reviews.llvm.org/D72094

[2020-01-02 18:25] #278 closed

[2020-01-02 18:26] nicolasvasilache commented on #272
Done.

[2020-01-02 18:26] #272 closed

[2020-01-02 18:26] nicolasvasilache commented on #271
Done.

[2020-01-02 18:26] #271 closed

[2020-01-03 14:55] denis0x0D commented on #303
@antiagainst @MaheshRavishankar can you please clarify on lowering for std.and and std.or, it seems like they have bitwise semantics? Do I miss something? Thanks.
https://github.com/llvm/llvm-project/blob/master/mlir/lib/Conversion/StandardToSPIRV/StandardToSPIRV.td#L23

[2020-01-03 17:32] antiagainst commented on #303
Oops, yes indeed as shown by https://github.com/llvm/llvm-project/commit/a8a5c069614e7d45ccb8613ecc74d0d2358b6e19. Good catch! This is a bug that should be fixed. Would you mind to send a PR for it? Thanks!

[2020-01-03 17:48] MaheshRavishankar commented on #303
What's the bug here. The lowering is only supported for bool. So that should be fine right?

[2020-01-03 18:01] denis0x0D commented on #303
@MaheshRavishankar oh sorry, you are right, I missed that `Bitwise` works for `SPV_Integer`

[2020-01-03 18:14] antiagainst commented on #303
Oops again. Yes @MaheshRavishankar is correct. I commented too quickly...

[2020-01-06 19:07] denis0x0D commented on #303
@antiagainst @MaheshRavishankar just to note about patches:
https://reviews.llvm.org/D72137
https://reviews.llvm.org/D72205
https://reviews.llvm.org/D72296
Thanks.

[2020-01-08 13:34] denis0x0D commented on #303
@antiagainst @MaheshRavishankar is it ok if I'll take lowering for  `br/cond_br`? Thanks.

[2020-01-09 02:21] antiagainst commented on #303
@denis0x0D: please feel free! But note that control flow is a bit tricky that we'll need to make sure the generated SPIR-V counterpart is structured. Starting from some simple cases is totally fine.

[2020-01-12 15:41] denis0x0D commented on #303
@antiagainst indeed it's a bit tricky part to `lower br/cond_br` to SPIR-V, because SPIR-V cfg must be structured. As a reference, I looked how clspv does it - https://github.com/google/clspv/blob/master/lib/SPIRVProducerPass.cpp#L6091, and it performs some additional analysis to compute `LoopInfo`, IMHO this analysis looks an excessive for MLIR, because MLIR already has some high-level dialect `L

[2020-01-14 15:49] denis0x0D commented on #303
@antiagainst @MaheshRavishankar oh, I've missed that loop.for is already lowering to spv.loop in GPUToSPIRV part, is it ok if I'll add a lowering loop.if to spv.selection? Thanks.

[2020-01-14 21:43] antiagainst commented on #303
Hi @denis0x0D, sorry for the late reply! Yes indeed with MLIR's multi-level capability when we translate from some high-level dialect to SPIR-V we'd prefer to go through a more structured way to preserve information as much as possible, like what you said with loop dialect (and we are doing that). I guess converting from std control flows could still be useful under certain cases (given that we ca

[2020-01-14 22:09] denis0x0D commented on #303
@antiagainst thanks for clarification, I'll take lowering `loop.if` to `spv.selection` at first. Thanks!

[2020-01-17 15:02] denis0x0D commented on #303
@antiagainst @MaheshRavishankar just to note a lowering `loop.if` to `spv.selection` https://reviews.llvm.org/D72836
Is it ok if I'll take lowering for composite constant with ranked tensor type to SPIR-V?

[2020-01-17 17:00] antiagainst commented on #303
Thanks @denis0x0D! for https://reviews.llvm.org/D72836. I've approved it. Yes, please feel free to pick up composite constant lowering.

[2020-01-17 17:04] denis0x0D commented on #303
@antiagainst thanks a lot!

[2020-01-17 21:54] aartbik commented on #327
Progress so far:

https://reviews.llvm.org/rG65678d938431c90408afa8d255cbed3d8ed8273f
https://reviews.llvm.org/rG2d515e49d89c0738ccef8f1733d5f9afe00ee979
https://reviews.llvm.org/rG0361a961c2417756eaf28d3debe484e84d484f04

[2020-01-21 10:21] denis0x0D commented on #303
@antiagainst @MaheshRavishankar related to composite constant lowering https://reviews.llvm.org/D72999 https://reviews.llvm.org/D73022

[2020-01-24 11:18] denis0x0D commented on #303
@antiagainst @MaheshRavishankar according to the task "Pass pipeline to go from linalg to spv", I see that @MaheshRavishankar already added something similiar to IREE https://github.com/google/iree/commit/0200efc1afe05238d1c9022eb589baf2e0b69780 is this task still under TODO list for MLIR?

[2020-01-24 14:29] antiagainst commented on #303
@denis0x0D: yes it is. the task means to have some recommended pipeline to go from linalg to spv in MLIR core given that from linalg all the components are in MLIR repo. Mahesh and I will be working on this recently to flesh out more details for the pipeline.

BTW, I've https://reviews.llvm.org/D73349 to add two more GroupNonUniform* ops. It would be awesome if you can help to flesh out more Group

[2020-01-24 14:41] denis0x0D commented on #303
@antiagainst thanks for clarification!

SGTM, thanks!
In this case, it seems like it's a right time to return to task `mlir-vulkan-runner` which was delayed for a long time ago. Thanks!

[2020-01-27 18:51] aartbik commented on #327
These two CLs implement the progressive lowering (slices to slice ops) and LLVM lowering (into LLVM IR). Now the examples run "end-to-end" (taking VectorOps) as input):

459cf6e5006a [mlir] [VectorOps] Lowering of vector.extract/insert_slices to LLVM IR
303fddeeab10 [mlir] [VectorOps] Rewriting of vector.extract/insert_slices to other vector ops

What remains is a few tests to inspect generated as

[2020-01-27 19:42] #327 closed

[2020-02-06 15:59] bhack commented on #140
There will be W3C conference in Berlin on March 2020. @nsthorat is in the committee:
https://www.w3.org/2020/01/machine-learning-workshop/

[2020-02-11 12:57] ftynse commented on #210
This should be addressed by https://github.com/llvm/llvm-project/commit/5a1778057f72b8e0444a7932144a3fa441b641bc

[2020-03-13 17:59] #140 closed

[2020-04-07 14:56] #287 closed

[2020-05-31 14:19] denis0x0D commented on #196
@antiagainst does anyone have plans for this task?

[2020-06-02 15:03] antiagainst commented on #196
Hey @denis0x0D, I don't think so. Please feel free to take it if you are interested. :)

[2020-06-02 20:01] denis0x0D commented on #196
@antiagainst thanks!

[2020-07-22 08:54] xuxbuptisc commented on #323
same error +1...

[2020-08-05 18:16] Aqsa-physics opened #339 "Build stuck with the same warning repeated over and over again"
I am building a physics software and at the lst step of my build I am getting the following warning over and over again and the build process is not proceeding forward. This is the warning I am getting

`In file included from /usr/include/c++/7/cassert:44:0,
                 from src/gsl_utils.hpp:26,
                 from src/root_finder.hpp:33,
                 from src/standard_model.cpp:33:
sr

[2020-08-05 18:21] joker-eph commented on #339
Hi @Aqsa-physics,

I suspect you posted this in the wrong project? Maybe this is an issue for: https://github.com/FlexibleSUSY/FlexibleSUSY/issues ?

[2020-08-05 18:21] #339 closed, assigned to nobody

[2020-08-17 02:13] arunchannaraju18 opened #340 "installation steps"
@alextp @ewilderj @d0k @benvanik  @flaub

i have installed mlir but i have missed someting can u please help me

~/llvm-project/build$ cmake --build . --target check-mlir
[0/1] Running the MLIR regression tests
llvm-lit: /home/a/llvm-project/build/bin/../../llvm/utils/lit/lit/llvm/subst.py:127: note: Did not find PYTHON in :/home/a/llvm-project/build/./bin

Testing Time: 95.64s
  Unsupported:  22

[2020-08-21 02:26] jpienaar commented on #340
The Python warning is harmless. We need to fix the detection for it. Now if you want to use the Python frontend, I'm not sure how best and it is still very experimental.

[2020-09-21 03:22] jon-chuang commented on #91
Would C++/Rust with additional intrinsics be able to lower to MLIR and by extension spirv? What would need to be done to get this to work?

[2020-09-21 05:58] jon-chuang commented on #60
Is there any relationship between the MLIR spir-v/cuda dialects and the current LLVM CUDA backend?

[2020-09-21 17:59] antiagainst commented on #60
Hi @jon-chuang, please note that MLIR now is already in LLVM monorepo so issues on this repo is not maintained anymore.

Coming to your question, there is no relationship between mlir-vukan-runner with LLVM CUDA backend. Vulkan is a separate API from CUDA and SPIR-V in MLIR does not rely on LLVM IR itself.

Closing this given mlir-vulkan-runner is already landed.

[2020-09-21 17:59] #60 closed

[2020-09-21 18:03] antiagainst commented on #91
Hi @jon-chuang, please note that right now MLIR is part of LLVM monorepo so issues no this repo is not maintained anymore.

Your question here is quite vague. What C++/Rust features are you interested? What additional intrinsics? Which SPIR-V target environment (Vulkan/OpenCL/OpenGL/etc.) you are considering? We might be able to convert some depending on the particular answers to the above questio